{% extends "layout.html" %}
  

{% block title %}Contribution{% endblock %}
{% block lead %}{% endblock %} 


{% block page_content %}
<button id="scrollToTopBtn" title="Go to top">&#8593;</button>
<style>
  table,th,td{
    border:1px solid black;
    border-collapse:collapse;
  }
  .image-row{
    display:flex;
    
  }
  .center{
    display:block;
    margin-left:auto;
    margin-right:auto
  }
  
</style>
<div class="page-content">
  <h2><b>Our contributions of this project:</b></h2>

    <p><b>The pFrmR promoter can detect the presence of formaldehyde and activate the production of a chromoprotein</b></p>
    
    <p>Our hypothesis has been confirmed, demonstrating that the pFrmR promoter is indeed capable of sensing the presence of formaldehyde and 
    initiating the expression of the chromoprotein dTomato, resulting in the generation of a color signal. 
    This significant finding suggests that our construct design shows promise as a potential candidate for developing a practical and user-friendly 
    formaldehyde-sensing device that can be widely utilized by the general population.
    The results are documented in detail in our result and engineering success pages <a href="https://2023.igem.wiki/hongkong-jss/engineering">(Here)</a> and also part registries<a href="https://2023.igem.wiki/hongkong-jss/parts">(Here).</p>
    
 <p><b>We contributed new data to the existing part - BBa_K2728001</b></p>
    
<p>We conducted experiments on the exisiting pFrmR promoter, which <a href="http://parts.igem.org/Part:BBa_K2728001">BBa_K2728001</a> developed by iGEM18_BGIC-Global. Our results demonstrate a new application for this part, as we successfully verified its responsiveness to formaldehyde. We have documented our experimental findings on the part registry. <a href="https://2023.igem.wiki/hongkong-jss/engineering">(Here)</a></p>

    <p><b>The colonies that contain the dTomato red chromoprotein exhibit a more obvious color signal when observed with the naked eyes, 
    compared to the colonies containing tdTomato.</b></p>

    <p>Our objective is to develop a user-friendly formaldehyde sensing device that does not require specialized equipment. In order to achieve this, 
    we have chosen to use a reporter gene that can be easily observed with the naked eye, and therefore, a chromoprotein has been selected for this purpose.
    According to information from FPbase: The Fluorescent Protein Database <a href="https://www.fpbase.org/protein/tdtomato/">(Here)</a>, it is stated that 
    tdTomato exhibits twice the fluorescence signal strength compared to dTomato. However, we are interested in investigating 
    whether this difference also applies to the chromoproteins' colourations.
    Based on our experimental results, we have observed that E. coli colonies expressing dTomato display a significantly higher intensity 
    of coloration compared to colonies expressing tdTomato.
    One possible explanation for this observation is that previous literature has reported that tdTomato, 
    being double in size than dTomato, imposes a greater burden on E. coli cells during expression. 
    Consequently, this may lead to slower cell growth and, ultimately, result in a smaller population of cells within colonies expressing tdTomato. 
    As a consequence, the amount of color-producing protein is reduced, resulting in a less obvious colouration. 
    It is important to note that this explanation is currently a hypothesis and further validation is required to support this observation.
    The results are documented in detail in our results page <a href="https://2023.igem.wiki/hongkong-jss/results">(Here)</a> and also part registries <a href="http://parts.igem.org/Part:BBa_K4813005">(Here)</a>.</p>

    <p><b>The <i>HxlR</i> operon has the potential to enhance <i>E. coli</i>'s resistance to formaldehyde solution.</b></p>

    <p>In our research project, we investigated two different genes that are known to respond to formaldehyde: the <i>pFrmR</i> promoter and the <i>HxlR</i> operon. 
    Both of these genetic elements were subjected to two concentrations of formaldehyde, namely 500 µM and 1000 µM.
    While the <i>HxlR</i> constructs did not yield positive results, an interesting observation was made with the <i>pFrmR</i> construct 
    expressing <i>E. coli</i> culture and the control culture containing only pUC19. Under the 1000 µM formaldehyde condition, no growth was observed 
    in the <i>pFrmR</i> construct expressing <i>E. coli</i> culture, as well as the pUC19 control culture. However, growth was observed in the HxlR construct expressing broth.
    This finding suggests that under the presence of 1000 µM formaldehyde, the <i>E. coli</i> cells were normally killed, 
    but when they were expressing the <i>HxlR</i> constructs, they were able to survive under this condition. 
    These results indicate that the <i>HxlR</i> operon may possess the ability to enhance <i>E. coli</i>'s resistance to formaldehyde solution.</p>

    <p><b>Within the conditions we tested, the <i>HxlR</i> device is not able to detect the presence of formaldehyde.</b></p>

    <p>We performed colony PCR to confirm the constructs, and the results indicated the presence of the correct band size. 
    However, the transformant with the <i>HxlR</i> construct <a href="http://parts.igem.org/Part:BBa_K4813025">(Here)</a> did not exhibit any observable color change 
    when exposed to the formaldehyde solution concentrations we tested. Unfortunately, due to time constraints, we were unable to explore additional conditions and colonies. 
    However, we plan to address this in the future as we aim to compare the efficacy of the pFrmR device and the <i>HxlR</i> device.</p>
    
    <p><b><i>pFrmR</i> and <i>HxlR</i> devices both show leaky expressions</b></p>

    <p>In our transformed colonies, we noticed that both the <i>pFrmR</i> <a href="http://parts.igem.org/Part:BBa_K4813002">(Here)</a> and 
    HxIR <a href="http://parts.igem.org/Part:BBa_K4813025">(Here)</a> expressing strains exhibited a small number of colonies that displayed red protein expression 
    even in the absence of formaldehyde. To ensure that the leaky expression does not impact our experimental results, 
    we specifically selected colonies that appeared white during our functional assays. On the other hand, 
    we spread these colonies on plates and monitored them for any signs of leaky RFP expression. 
    We observed that the colonies remained white, and we did not observe any pink colonies.</p>

    <p><b>Design of a Auto Detection of Aldehyde Machine ADAM</b></p>

    <p>We design a device, the ADAM, for the automatic detection of the color change of the GM <i>E. coli</i> which signifies the presence of formaldehyde. 
    The device is able to run routinely and automatically to check if the <i>E.coli</i> synthesis the red protein or not. 
    Once the color change of <i>E.coli</i> is recognised, it sends a message to the user by using IFTTT, a platform that can link the device with SMS service. 
    The message alerts users that formaldehyde is detected.</p>

    <p><b>Integration between software platform and biological system</b></p>

    <p>We had demonstrated the integration of a software platform (IFTTT) that connects apps and devices in order to trigger one or more automations, 
    with a biological system (GM <i>E. coli</i>) that follows the central dogma to function. 
    All together they performed an automated task to help us detect the presence of formaldehyde. </p>


</div>

{% endblock %}
