{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}
{% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h3>The contributions of our project:</h3>
     <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/contributions-1.jpg" length="1000" width="1000">
     <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/contributions-2.jpg" length="1000" width="1000">
     <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/contributions-3.jpg" length="1000" width="1000">
  </div>
</div>

{% endblock %}
