{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}
<button id="scrollToTopBtn" title="Go to top">&#8593;</button>
<!-- page content -->
 <center><img style="width:100%;"  src="https://static.igem.wiki/teams/4813/wiki/engineering-success/description-banner.jpeg" style="width:100vh;">
      <div style="display:flex; padding: 10px 0 0 0;"><center>
      <img style="width:200px;height:200px;" src="https://static.igem.wiki/teams/4813/wiki/engineering-success/chloe-2.png">
      </center>
      <p style="width:120%">
        Formaldehyde is a hazardous air pollutant commonly found in indoor environments, released from various sources such as building materials, furniture, and household products. According to IARC’s discussion, it revealed that there was evidence to show that formaldehyde causes nasopharyngeal cancer and leukaemia. Exposure to formaldehyde can also cause other health effects, including respiratory irritation and headaches. This could be an invisible killer to humans. Therefore, developing a cost-effective and sensitive biological device for formaldehyde detection is a pressing need. [1]
      </p></div>
      <p>
        The objective of this project is to employ synthetic biology techniques in order to engineer a specialised strain of E. coli that can effectively detect formaldehyde easily. This will be achieved by integrating formaldehyde-sensitive promoters into the genetic circuit of the bacteria. The resultant living sensor will exhibit a measurable output, such as fluorescence or a distinct change in colour, upon exposure to formaldehyde.
      </p>
      <h2>
          To achieve these goals, we will:
      </h2>
    <ol>
        <li>Perform a thorough literature review to identify the best candidate promoters and reporter genes for formaldehyde detection.

        <li>Design and synthesize the genetic constructs using standard molecular cloning techniques.

        <li>Transform E. coli with the constructs, and screen for successful transformants using appropriate selection markers.

        <li>Characterize the engineered E. coli strains by exposing them to varying formaldehyde concentrations and measuring the output (e.g., fluorescence or color change).

        <li>Iterate on the design and optimization of the sensor to improve its performance for real-world applications.

    </ol>
    <center>
 <img style="width:35%;height:35%;"  src="https://static.igem.wiki/teams/4813/wiki/engineering-success/lynus-animation.png">
    </center>
    <p>“ADAM”, an automated monitoring hardware device integrated with IFTTT technology, enabling real-time tracking of color changes in our biological device.
    </p>
    <p>
        Besides the above biological laboratory work, we will also try interviewing different stakeholders and scholars to give us professional opinions to develop our model and hopefully widely accepted by users.
    </p>
    <p>
        We will also organise education and communication with the new groups of people to promote synthetic biology, so that more people accepts the application of synthetic biology in their daily life.
    </p>
    <h1>
        Project Inspiration
    </h1>
    <hr>
    <center>
    <div style="display:flex;" <center="">
    <img style="width:20%;height:20%;" src="https://static.igem.wiki/teams/4813/wiki/engineering-success/chloe-3.png">
    
    <p>
        In Hong Kong, many of us are suffering from allergies or asthma and the culprit could be poor Indoor Air Quality (IAQ), such as formaldehyde pollution. Our project was also inspired by the raising concern of formaldehyde presence in new house renovation and reconstruction.
    </p></div>
    <p>
        According to the data released by Research Centre for Urban Environmental Technology and Management, from the Department of Civil and Structural Engineering (Hong Kong Polytechnic University), indoor formaldehyde and styrene in Hong Kong was the highest compared to other East Asian cities, reflecting that the homes in Hong Kong were more affected by household products and materials.  The formaldehyde concentration in newly built apartments was significantly higher than that in old buildings. [2]

    </p>
    <center>
    <img style="width:35%;height:35%;" src="https://static.igem.wiki/teams/4813/wiki/engineering-success/chloe-5.png">
    <img style="width:35%;height:35%;" src="https://static.igem.wiki/teams/4813/wiki/engineering-success/chloe-4.png">
    </center>
    <p>
        There was news reporting some death cases of residents moving in new houses [3] and students poisoned by excessive amounts of formaldehyde found in the school's newly purchased desks and chairs [4]. These news have flagged up concerns about formaldehyde, a carcinogenic substance widely used in construction and furniture.

    </p>
    <p>
        Formaldehyde is used in some paints, varnishes and disinfectants. It is also found in manufactured wooden products like cabinets and laminate flooring.
    </p>
    <center>
    <img style="width:50%;height:50%;" src="https://static.igem.wiki/teams/4813/wiki/engineering-success/news-1.png">
    <img style="width:50%;height:50%;" src="https://static.igem.wiki/teams/4813/wiki/engineering-success/news-2.png">
    </center>
    <p>
        Some news revealing the concern of formaldehyde poisoning in society.

    </p>
    <p>
        It is important that the citizens know if their living or working environment exceeds toxic levels. However, according to the news, popular handheld devices measuring formaldehyde failed to provide reliable readings [5]. And for most of the formaldehyde digital detectors pricey and or even unaffordable, especially to low-income families, which inhibits their awareness about the dangers of Formaldehyde. Hence, the imperative lies in our pursuit of a living sensor that can provide a cost-effective solution for formaldehyde detection, which aligns with our overarching objective. 
</p>
<center>
<img style="width:50%;height:50%;"  src="https://static.igem.wiki/teams/4813/wiki/engineering-success/news-3.png">
</center>
<p>
    The news reports that many devices fail to detect formaldehyde accurately. 

</p>
<p>
    Our project draws inspiration from several iGEM projects and research in the field of synthetic biology. The iGEM teams that have inspired our project include:

</p>
<ul>
    <li>iGEM 2019 Edinburgh_OG: Developed a biosensor genetic circuit in E. coli, to detect heavy metals in water, using a combination of two genes, smtB and cotA.

    <li>iGEM 2017 SCUT-China_A: Standardised the lysis gene SRRz to build a visible and low-cost reporter for heavy metal
</ul>
<h1>
    Formaldehyde-sensitive promoters
</h1>
<hr>
<p>
    To create a formaldehyde-sensing E. coli strain, we propose using one or more of the following formaldehyde-sensitive promoters:
    </p>
    <ul>
        <li>pFrmR
            <br>
            A formaldehyde-inducible promoter in E. coli. Formaldehyde binds to FrmR that is a transcriptional inhibitor of pFrmR promoter. After binding the pFrmR can express the following coding sequence.
        <li>HxIR-pFormaldehyde
            <br>
            A formaldehyde inducible operon. Dimerization of HxIR which is a transcriptional activator of the downstream pFormaldehyde.
    </ul>
    <h1>References</h1>
    <br>
    [1]<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1280402">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1280402/</a>2005 May 12
    <br>
    [2]<a href="https://pubmed.ncbi.nlm.nih.gov/19220507/">https://pubmed.ncbi.nlm.nih.gov/19220507/</a>
    2009 Jun 19
    <br>
    [3]<a href="https://www.bbc.com/news/world-asia-china-45412461">https://www.bbc.com/news/world-asia-china-45412461</a>
    2018 Sept 6
    <br>
    [4]<a href="https://mashable.com/article/chinese-school-formaldehyde-poisoning"https://mashable.com/article/chinese-school-formaldehyde-poisoning</a>
     2016 May 10
    <br>
    [5]<a href="https://www.scmp.com/news/china/society/article/2187624/popular-chinese-handheld-devices-measure-formaldehyde-fail-tests "https://www.scmp.com/news/china/society/article/2187624/popular-chinese-handheld-devices-measure-formaldehyde-fail-tests </a>
    2019 Feb 25








{% endblock %}
