{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}
<button id="scrollToTopBtn" title="Go to top">&#8593;</button>
<style>
.container{
  display:flex;
  align-items:center;
  justify-content:center
}
.rotate-image{
  transform: rotate(45deg);
}
</style>
<div class="container">
<p> Bioengineered E. coli for 
  Formaldehyde Detection
</p>
<div class="rotate-image">
  <img src="https://static.igem.wiki/teams/4813/wiki/description-head1.jpg" width="30" length="50">
  </div>
<img src="https://static.igem.wiki/teams/4813/wiki/description-head2.jpg" width="100" length="100"
</div>



{% endblock %}
