{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<style>
  div {
    text-align: justify;
  }
  </style>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Bioengineered <i>E. coli</i> for Formaldehyde Detection</h2>
    <hr>
    <ul>
      <li>Formaldehyde is a hazardous air pollutant commonly found in indoor environments, originating from various sources such as building materials, furniture, and household products. Exposure to formaldehyde can cause adverse health effects, including respiratory and skin irritation, headaches, and even cancer. Therefore, developing a cost-effective and sensitive method for formaldehyde detection is a pressing need.</li>
      <li>This project aims to create a bioengineered <i>E. coli</i> strain capable of detecting formaldehyde using synthetic biology techniques. By incorporating formaldehyde-sensitive promoters into the bacteria's genetic circuit, we can develop a living sensor that produces a measurable output, such as fluorescence or color change, in response to formaldehyde.</li>
    </ul>
  <p>To achieve these goals, we will:</p>
    <ol>
      <li>Perform a thorough literature review to identify the best candidate promoters and reporter genes for formaldehyde detection.</li>
      <li>Design and synthesize the genetic constructs using standard molecular cloning techniques.</li>
      <li>Transform <i>E. coli</i> with the constructs, and screen for successful transformants using appropriate selection markers.</li>
      <li>Characterize the engineered <i>E. coli</i> strains by exposing them to varying formaldehyde concentrations and measuring the output (e.g., fluorescence or color change).</li>
      <li>Iterate on the design and optimization of the sensor to improve its performance for real-world applications.</li>
    </ol>
  </div>

  <div class="col-lg-4">
    <h2>Inspiration</h2>
    <hr>
    <p>In Hong Kong, many of us are suffering from allergies or asthma and the culprit could be poor Indoor Air Quality (IAQ), such as formaldehyde pollution.</p> 
    <p>Our project draws inspiration from several iGEM projects and research in the field of synthetic biology. The iGEM teams that have inspired our project include:</p>
    <ul>
      <li><b>iGEM 2016 NCKU_Tainan</b>: Developed an <i>E. coli</i>-based biosensor for detecting heavy metals in water, using a combination of metal-binding proteins and transcriptional regulators.</li>
      <li><b>iGEM 2019 Aachen</b>: Designed a modular biosensor platform for detecting various air pollutants, including volatile organic compounds (VOCs) and nitrogen oxides (NOx).</li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Formaldehyde-sensitive promoters</h2>
    <hr>
    <p>To create a formaldehyde-sensing <i>E. coli</i> strain, we propose using one or more of the following formaldehyde-sensitive promoters:</p>
    <ul>
        <li><b>pFrmR</b><br>A formaldehyde-inducible promoter in <i>E. coli</i>. Formaldehyde binds to FrmR that is a transcriptional inhibitor of pFrmR promoter. After binding the pFrmR can express the following coding sequence. </li>
        <li><b>HxIR-pFormaldehyde</b><br>A formaldehyde inducible operon. Dimerization of HxIR which is a transcriptional factor of pFormaldehyde.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>References</h2>
    <hr>
    <ul>
      <li><p style="font-size:12px"><a href="https://www.researchgate.net/publication/24018595_Formaldehyde_and_volatile_organic_compounds_in_Hong_Kong_homes_Concentrations_and_impact_factors">Formaldehyde and volatile organic compounds in Hong Kong homes: Concentrations and impact factors</a></p></li>
      <li><p style="font-size:12px"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6540204/">C1 Compound Biosensors: Design, Functional Study, and Applications</a></p></li>
      <li><p style="font-size:12px"><a href="https://www.researchgate.net/publication/7765885_HxlR_a_member_of_the_DUF24_protein_family_is_a_DNA-binding_protein_that_acts_as_a_positive_regulator_of_the_formaldehyde-inducible_hxIAB_operon_in_Bacillus_subtilis">HxlR, a member of the DUF24 protein family, is a DNA-binding protein that acts as a positive regulator of the formaldehyde-inducible hxIAB operon in Bacillus subtilis</a></p></li>
    </ul>
  </div>
</div>

{% endblock %}
