{% extends "layout.html" %}
  
{% block title %}Engineering Success{% endblock %}
{% block lead %}Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #1</h4>
      <p>Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle. This achievement should be distinct from your Contribution for Bronze.<p>
      <p>If you plan to show engineering success by creating a new Part that has been shown to work as expected, you must document your contribution on the Part's Main Page on the <a href="http://parts.igem.org/Main_Page">Registry</a> for your team to be eligible for this criteria.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2023 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>


<h1>Preparation of pUC19 vector for Hifi Assembly of gBlock fragments</h1>
<h3><u>Transformation of pUC19</u></h3>
<p>materials:</p>
pUC19 positive control DNA (Invitrogen), One Shot™ TOP10 Chemically Competent E. coli (ThermoFisher, Cat# C404003), S.O.C Medium (ThermoFisher, Cat# 15544-034), LB agar (ThermoFisher, Cat# 22700-025) plates with ampicillin added
<hr>

<h3>Procedures:</h3>
<ol>
  <li>Mix 5 μL of DNA with 1 mL of competent cells in a polypropylene tube stored at -80°C.</li>
  <li>Incubate the tube on ice for 5 minutes.</li>
  <li>Heat shock the tube by exposing it to 42°C for 45 seconds.</li>
  <li>Return on ice for 2 minutes.</li>
  <li>Add 1 mL of pre-warmed SOC medium to the tube.</li>
  <li>Incubate the tube at 37°C for 30 minutes for recovery.</li>
  <li>Take 100 μL of the solution and spread it evenly on an ampicillin LB plate.</li>
  <li>Incubate the plate at 37°C overnight.</li>
<hr>

<h3><u>Preparation of pUC19 plasmids</u></h3>
<p>materials</p>
PureLink™ Quick Plasmid Miniprep Kit (ThermoFisher, Cat# K210010)<br>
<p>procedures:</p>
Refer to manufacturer’s manual

















{% endblock %}
