{% extends "layout.html" %}
  
{% block title %}Hardware{% endblock %}
{% block lead %}Hardware in iGEM should make synthetic biology based on standard parts easier, faster, better, or more accessible to our community.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Hardware</h4>
      <p>This is a prize for the team that has developed a piece of hardware for synthetic biology. Hardware in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community. Did your team make a sensor to help teams characterize parts? Did you make a robot that can help teams perform experiments or do cloning more easily? Tell us what your team did for this award!</p>
      <p>To compete for the Best Hardware prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>
<h1>Hardware</h1>
<hr>
<P> We have genetically modified E.coli so as to detect formaldehyde, a toxic chemical for organisms.  We constructed and transformed the recombinant plasmids pFrmR-dTomato and HxIR13A-dTomato into E.coli. The GM bacteria can synthesise red proteins and turn pink in the presence of formaldehyde. However, the process of producing red proteins requires a period of time so it has to be checked regularly. Thus, we decided to build a machine that can detect the colour change of the GM E.Coli.. By the auto detection of the colour change by the camera, we can know whether the surrounding air contains formaldehyde which is harmful for our health. If we can realise the presence of formaldehyde promptly, we can remove them as quickly as possible, which prevents the pollutants from harming our bodies. </P>

<P>The aims of our project are summarised in the following:</P>

<ul style=“list-style-type:circle”>
  <li>We hope to create a more innovative and effective way to solve the problem that the general public are concerned about by using new technologies, new equipment and IT programs to conform to the needs of the public.</li>
  <li>We want to create a more portable device for the public so the size of the machine is reduced as small as possible. Besides, the assemblage can be more convenient due to the special mortise and tenon configuration. This greatly reduces the production time.</li>
  <li>We may also want to use a cheaper way to protect us from being harmed by formaldehyde. The machine we created can be manufactured at a low cost. As a result, everyone in the city can afford to buy the machine and have an assurance.</li>
  <li>Automation is also a necessary feature of the machine. The program proceeds automatically in order to detect the conditions of the solution periodically. Therefore, the machine can perform its function without human manipulation. It can perform its functions automatically and periodically in order to check the condition of colour changes of solution. If colour change is detected, notice would be sent automatically to inform the user. This successfully achieves automation which helps humans by improving its convenience.</li>
</ul>
<h2>Features of ADAM</h2> 
<img src="https://static.igem.wiki/teams/4813/wiki/hardware/slide19.jpeg" class="hardware--img">
<p><u>Figure 1. Mortise and tenon structure is used</u></p>
<p>We set out to include the Mortise and Tenon structures in the device. Chinese architects have been employing the structure in wooden buildings and furniture since 7000 years ago in China[1].  There are a number of advantages to utilising the structure in our machine.  First, it has a cheaper manufacturing cost on the device as we only need to produce plates with mortise and tenon, and it is unnecessary to construct the whole device completely.  Meanwhile,  the WIP (work in progress) has a smaller size than a completed machine which lowers the cost of delivery.  Finally, it is user-friendly for customers to construct the device themselves as the structure contributes to the ease of building the device.

Apart from that, we originally planned to use plastic as the material for the device.  Nevertheless, another investigation carried by other schoolmates uncovered that microplastic fragments will be produced from plastic products under UV light erosion[2].  These nanoplastics pollute the environment and lead to accumulation of them in animals.  Owing to that, we soon object to the idea and consider using cardboards to build up our device.  However, cardboards is vulnerable as it may be weakened by high humidity.  Lastly, we selected fiberboard as our building material because of its biodegradability.  Also, the fiberboard allows mass production by laser cutting. 
</p>
<img src="https://static.igem.wiki/teams/4813/wiki/hardware/slide20.jpeg" class="hardware--img">
<p><u>FIgure 2. The petri dish containing <i>E.coli</i> is put in loading dock</u></p>
<p>The transparent plastic petri dish which enables clear observation can be placed on the dock which makes the replacement of E.coli easily.  The petri dish is made in plastic as it  is cheaper and it is less vulnerable than glass petri dish, making it more durable. This avoids users getting hurt if the glass petri dish is broken accidentally. Besides, a white plate is placed under the Petri dish for the ESP32CAM to detect the colour of E.coli more clearly. Therefore, a clearer and a more accurate colour change can be detected easily by the ESP32CAM. Also, the petri dish can be replaced easily. 
</p>
<hr>
<img src="https://static.igem.wiki/teams/4813/wiki/hardware/slide21.jpeg" class="hardware--img">
<p><u>Figure 3. The fan help drawing air in the machine</u></p>
<p>Formaldehyde is highly soluble in water, therefore the GM E. coli in bacterial culture can effectively sense formaldehyde in the air. However, when the bacterial culture is enclosed in a non-ventilated device, it cannot come into contact with the formaldehyde in the environment, reducing the effectiveness and accuracy of the detection. As a result, we added a fan for ventilation to the device.  The fan is programmed to operate periodically to draw air into the machine. If the air contains certain  formaldehyde, it will dissolve into bacterial culture and stimulate the GM E.coli to develop a pink colour and the change can be picked up by the ESP32CAM colour sensor.
           
The case of our machine is made of fibre boards.  We process these boards by laser-cutting.  There are mortise and tenon structures which ease the difficulty of assembling the machine.
</p>
<img src="https://static.igem.wiki/teams/4813/wiki/hardware/slide23.jpeg" class="hardware--img">
<p><u>Figure 4. The ESP32CAM analyses the photo taken to see whether pirk colour is present</u></p>
<p>Regarding the electrical parts in our machine, we purchase and adopt ESP32CAM as a detector and processor.  This is because ESP32CAM is integrated with light which allows photo-taking in a dark environment. Meanwhile, ESP32CAM can provide Wi-Fi functionality when it connects with other equipment. We bought an extension board for ESP32CAM which enables a direct linkage between the ESP32CAMand the battery.  Also, the board allows us to control the operation of the fan by using ESP32CAM.

We employ IFTTT as a medium connecting the machine and user. IFTTT is a web service and mobile app that help users automate web-based desks and boost productivity.  It connects different app and services together into Applets which is an automation allowing users to do things that their apps and devices cannot do on their own.  The name “IFTTT” stands for “If this, then that '' in programming language.  The company calls it because Applet would have 1 trigger and 1 action: if this happens, then that happens.   For instance, if I come home, then turn on the lights at the entrance. In our project, the case is: if ESP32CAM detects red colour on the petri dish, then sends a message to the user's phone.
We adopt IFTTT because it is user-friendly and does not require coding skills.  Also, it allows us to customise the notifications that are sent to users.</p> 
<p>
We write an Arduino program to instruct our device to:
<ul style=“list-style-type:circle”>
  <li>Connect to WiFi network and IFTTT
  <li>Fan is turned on for 2mins, and closed after 28 mins
  <li>LED light flash every 3 sec
  <li>ESP32CAM calculates the average rgb of the middle part of the flame

  <li>If it is pink/red, then the device will send IFTTT message
</p>
Details of the coding part are as follow:
<u>1) Connect to WiFi network and ifttt</u>




<u></u>
<div class="box"></div>


<div class="box">
const char* ssid = "ABCD";
const char* password = "00000000";
WiFi.begin(ssid, password);

</div>
<u>2) Fan is turned on for 2mins, and closed after 28 mins</u>
<div class="box">if (currentMillis - previousMillis >= fanOnDuration) {
    digitalWrite(fanPin, LOW);
    previousMillis = currentMillis;
  } else if (currentMillis - previousMillis >= fanOffDuration) {
    digitalWrite(fanPin, HIGH);
    previousMillis = currentMillis;}
</div>
<u>3) LED light flash every 3 sec</u>
<div class="box">if (currentMillis - previousMillis >= interval) {  previousMillis = currentMillis;
    if (ledState) {
      ledcWrite(0, 0); 
      ledState = false;
    } else { ledcWrite(0, 18); 
      delay(ledOnDuration); 
      ledcWrite(0, 0); 
      ledState = false;} }
</div>
<u>4) ESP32CAM calculates the average rgb of the middle part of the flame</u>
<div class="box">
int pixelCount = (endPixel - startPixel) / 2; 
int avgR = totalR / pixelCount;
int avgG = totalG / pixelCount;
int avgB = totalB / pixelCount;

</div>



<P></P>
<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Overview</h2>
    <hr>
    <p>In addition to encouraging teams to work with DNA parts and build biological devices in the lab, iGEM also encourages other types of technical solutions for synthetic biology. This can include physical devices (hardware) related to robotic assembly, microfluidics, low-cost measurement devices, to name a few examples. There are many exciting opportunities for hardware innovation in synthetic biology.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="http://2018.igem.org/Team:Valencia_UPV/Hardware">2018 Valencia UPV</a></li>
      <li><a href="http://2018.igem.org/Team:Unesp_Brazil/Hardware">2018 Unesp Brazil</a></li>
      <li><a href="https://2019.igem.org/Team:BIT/Hardware">2019 BIT</a></li>
      <li><a href="https://2019.igem.org/Team:Bielefeld-CeBiTec/Hardware">2019 Bielefeld CeBiTec</a></li>
      <li><a href="https://2019.igem.org/Team:Nanjing-China/Hardware">2019 Nanjing China</a></li>
      <li><a href="https://2020.igem.org/Team:Vilnius-Lithuania/Hardware">2020 Vilnius Lithuania</a></li>
      <li><a href="https://2020.igem.org/Team:Aachen/Hardware">2020 Aachen</a></li>
      <li><a href="https://2020.igem.org/Team:ZJUT_China_B/Hardware">2020 ZJUT China B</a></li>
    </ul>
  </div>
</div>

{% endblock %}
