{% extends "layout.html" %}


{% block title %}{% endblock %}

{% block page_content %}
  
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <img src="https://static.igem.wiki/teams/4813/wiki/home.png" style="width:950px;height:250px;">
          <br>
          <div style="display:flex; padding: 10px 0 0 0;"><center>
          <img src="https://static.igem.wiki/teams/4813/wiki/home-fig.png" style="widht:250px;height:250px;">
          </center>
          <P>
            Our project is inspired by the prevalent issue of indoor air formaldehyde pollution in newly renovated houses in Hong Kong. 
<br><br>
We aim to develop a biological device capable of detecting formaldehyde levels without requiring specialized knowledge or equipment. 
<br><br>
We used a synthetic biological approach to engineered E. coli strains with formaldehyde-inducible promoter pFrmR and the HxlR operon. Our objective was to compare the effectiveness of these components. Notably, we successfully demonstrated the functionality of the pFrmR construct, exhibiting a color change in the presence of formaldehyde. 
          </P>
          </div>
          <P>
Additionally, contrary to the literature suggesting tdTomato RFP's higher fluorescence intensity, we observed that dTomato RFP colonies displayed a more visible coloration, making it a more suitable candidate for our devices. 
          </P>
    <img src="https://static.igem.wiki/teams/4813/wiki/home-fig2.png" style="width:400px;height:250px;float: right;">
    <p>
      Furthermore, we developed ADAM, an automated monitoring hardware device integrated with IFTTT technology, enabling real-time tracking of color changes in our biological device. The device's code is openly shared on our wiki platform.
    </p>
    <br><br><br><br><br><br><hr>
    <img src="https://static.igem.wiki/teams/4813/wiki/home-fig-3-2.png" style="width:950px;height:300px"
        </div>
      </div>
    </div>

   

  
<button id="scrollToTopBtn" title="Go to top">&#8593;</button>
<style>

</style>





{% endblock %}
