{% extends "layout.html" %}


{% block title %}{% endblock %}

{% block page_content %}

    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">{{ self.title() }}</h1>
	        <p style="width:80%;" class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
  </header>
<button id="scrollToTopBtn" title="Go to top">&#8593;</button>
<style>
  .bg-hero{
    background-image:url(https://static.igem.wiki/teams/4813/wiki/home-figure1.png);
    overflow:hidden;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  .img-left{
    float:left;
    width:25%;
  }
  .text-right{
    float:right;
    width;
  }
  .pos{
    position:absolute;
    width:70%;
  }
</style>

<div class="row mt-4">
  <div class="col">
    <div class="bg-hero">
      <img src="https://static.igem.wiki/teams/4813/wiki/home-figure1.png" style="width:110%" length="250"  >
    </div>
    <br>
    <div class="pos">
      <img class="img-left" src="https://static.igem.wiki/teams/4813/wiki/home-figure2.jpg">
      <p> Our project is inspired by the prevalent issue of indoor air formaldehyde pollution in newly renovated houses in Hong Kong. 


        We aim to develop a biological device capable of detecting formaldehyde levels without requiring specialized knowledge or equipment.
        </p>
    </div>
    
    
  
    

    
  </div>
</div>

{% endblock %}
