{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}


<style>
  table,th,td{
    border:1px solid black;
    border-collapse:collapse;
  }
</style>
<div class="row mt-4">
  <b><h1>Human Pratice</h1></b>
  <hr>
  <div class="col">
  <P><pre>
    Team HongKong-JSS identifies indoor formaldehyde pollution as a concern faced by the general public – a real problem to solve. 
    In this page, we want to show how our project connects to the wider world by creating feedback loops 
    between our project and the stakeholders. 

    Since the core of human practices is to show how our project is good and responsible to the world,
    the first thing we want to do is to clarify our own values. 

    Why is formaldehyde a problem?
    According to the Hong Kong Environmental Protection Department, formaldehyde is a VOC of major health concern. 
    It is a chemical ingredient used in many building materials and fabrics, cleaning fluids and adhesives. 
    Formaldehyde is known to cause eye, nose and respiratory irritation. 
    Formaldehyde is also known to be a potent carcinogen.

    Why use GMO to monitor formaldehyde pollution?
    Indoor air formaldehyde level is commonly determined by handheld formaldehyde meter. 
    However, according to a report by the South China Morning Post [1], “none of the 41 
    meters checked can provide reliable readings on indoor air formaldehyde level”. 
    On the other hand, determining the formaldehyde level by analysis method such as 
    High Performance Liquid Chromatography (HPLC) or colorimetry are too expensive and tedious for the public. 
    Our project aimed to fill the gap by providing a cheap, convenient and reliable method 
    to show indoor air formaldehyde pollution, which can be used by the public on a daily basis. 

    Could our project be misused? Is it safe?
    Safety is always our first priority. In our project, we genetically modified 
    E. coli so it can express a red color protein (eTomato) in the presence of formaldehyde. 
    The E. coli strains we used are harmless to humans. We had also engineered a device to utilize the GM E. coli, 
    the bacterial culture will be contained within the device during the whole course and disinfected 
    by bleach at the end, no GMO will be released to the environment.  

  </P></pre></div>

  <hr>

  <div class="row mt-4">
    <b> Identifying stakeholders and their concerns</b>
    <br>
    <div class=""col">
    <p>
     Members of team HongKong-JSS come from 5 different schools with a diverse background.
     Relevant stakeholders to our project are identified through an extensive brainstorming session 
     with the entire team.We identified each stakeholder by means of literature and our perception
     of them.We created a stakeholder map that positions each stakeholder to get a full view of
     the situation.
    </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure1.jpg" width="600" height="500">
    <small> Figure 1. Stakeholder map that positions each stakeholder and their major values concerned.</small>
    <br>
    <p>For each sector,we validated our objectives based on literature research and stakeholder
      interviews we performed.Below is a list of stakeholders we interviewed/surveyed in our
      project.
    </p>
    <table>
      <tr>
        <th> Date</th>
        <th> Event(s)</th>
        <th> Brief Summary</th>
      </tr>
      <tr>
        <td> January 2023</td>
        <td> Public survey
          (n=187) </td>
        <td>We did a street survey to study public perception of
          indoor formaldehyde pollution.To summarize:
        <ul>
          <li> Most interviewees understand the harm of formaldehyde pollution.</li>
          <li> Most interviewees know that furniture, paints and wallpaper are the source of formaldehyde.</li>
          <li> Most interviewees are not aware of food and smoking can also be a source of formaldehyde.</li>
          <li> Some interviewees or their family had been affected by formaldehyde pollution.</li>
          <li> Around half of the interviewee are willing to pay for the detection of formaldehyde.</li>
        </ul></td>
      </tr>
      <tr>
        <td>February 2023</td>
        <td> Teachers interview
          Mr. Wong Cheuk Hon
          </td>
        <td> Mr. Wong had experience in doing research in molecular biology. He had given us valuable suggestions about using GM E. coli to detect formaldehyde.</td>
      </tr>
      <tr>
        <td> February 2023</td>
        <td> Team Meeting:
          Government Policy
          </td>
        <td> Regarding Hong Kong Government policy towards the use of GMO and Biosafety. We held a team meeting to discuss the details and make sure our project is within the limits. </td>
      </tr>
      <tr>
        <td> March 2023</td>
        <td>Teachers interview
          Mr. Chan Ping Ho
          </td>
        <td>Mr. Chan has experience leading different types of STEM competitions. He has a lot of experience in product design. After we design the first version of our device, we consulted Mr. Chan and he gave us a lot of suggestions regarding the function and design of the device.</td>
      </tr>
      <tr>
        <td> June 2023</td>
        <td> Industry interview:
          Mr. Maurice Yeung
          (General manager of Gaurice Environment LTD)
          </td>
        <td>Gaurice Environment LTD is a popular formaldehyde removal company in Hong Kong. 
          Mr. Maurice Yeung has a great interest in using biological technology to detect formaldehyde. He provided us with information regarding potential customers and their needs. He also gave us suggestions regarding the design of our device.
          </td>
      </tr>
      <tr>
        <td> June 2023</td>
        <td> Target group survey
          (n=42)
          </td>
        <td> We conduct a survey to reach out to our potential customers – people who have just renovated their homes. Based on their feedback, we improved the design of our device. 
          <ul>
            <li> The operation of the device needed to be more user friendly.</li>
            <li> The price need to be lower.</li>
          </ul>
        </td>
      </tr>
    </table>

    </div>

  </div>

    <div class="bd-callout bd-callout-info">
    
    </div>
  
    <div class="bd-callout bd-callout-info">
      
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
   
  </div>
  <div class="col-lg-4">
    
  </div>
</div>

{% endblock %}
