{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<button id="scrollToTopBtn" title="Go to top">&#8593;</button>
<style>
  table,th,td{
    border:1px solid black;
    border-collapse:collapse;
  }
  .image-row{
    display:flex;
    
  }
  .center{
    display:block;
    margin-left:auto;
    margin-right:auto
  }
  
</style>
<div class="row mt-4">
  <b><h1>Human Pratice</h1></b>
  <hr>
  <div class="col">
<P><h5>
    Team HongKong-JSS identifies indoor formaldehyde pollution as a concern faced by the general public – a real problem to solve. 
    In this page, we want to show how our project connects to the wider world by creating feedback loops 
    between our project and the stakeholders. 
<br>
    Since the core of human practices is to show how our project is good and responsible to the world,
    the first thing we want to do is to clarify our own values. 
<br></h5>
</p>
    <P><b>Why is formaldehyde a problem?</b></p>
    <p>
    According to the Hong Kong Environmental Protection Department, formaldehyde is a VOC of major health concern. 
    It is a chemical ingredient used in many building materials and fabrics, cleaning fluids and adhesives. 
    Formaldehyde is known to cause eye, nose and respiratory irritation. 
    Formaldehyde is also known to be a potent carcinogen.
    </p>
<br>
    <p><b>Why use GMO to monitor formaldehyde pollution?</b></p>
    <p>
    Indoor air formaldehyde level is commonly determined by handheld formaldehyde meter. 
    However, according to a report by the South China Morning Post [1], “none of the 41 
    meters checked can provide reliable readings on indoor air formaldehyde level”. 
    On the other hand, determining the formaldehyde level by analysis method such as 
    High Performance Liquid Chromatography (HPLC) or colorimetry are too expensive and tedious for the public. 
    Our project aimed to fill the gap by providing a cheap, convenient and reliable method 
    to show indoor air formaldehyde pollution, which can be used by the public on a daily basis. 
    </p>
<br>
   <p> <b>Could our project be misused? Is it safe?</b></p>
   <p>
    Safety is always our first priority. In our project, we genetically modified 
    E. coli so it can express a red color protein (eTomato) in the presence of formaldehyde. 
    The E. coli strains we used are harmless to humans. We had also engineered a device to utilize the GM E. coli, 
    the bacterial culture will be contained within the device during the whole course and disinfected 
    by bleach at the end, no GMO will be released to the environment.  
    </p>
</div>

  <hr>

  <div class="row mt-4">
    <b><h2> Identifying stakeholders and their concerns</h2></b>
    <div class=""col">
    <p>
     Members of team HongKong-JSS come from 5 different schools with a diverse background.
     Relevant stakeholders to our project are identified through an extensive brainstorming session 
     with the entire team.We identified each stakeholder by means of literature and our perception
     of them.We created a stakeholder map that positions each stakeholder to get a full view of
     the situation.
    </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure1.jpg" width="1000" class="center">
    <center><p><i><b>Figure 1. Stakeholder map that positions each stakeholder and their major values concerned.</b></i></p></center>
    <p>For each sector, we validated our objectives based on literature research and stakeholder
      interviews we performed.Below is a list of stakeholders we interviewed/surveyed in our
      project.
    </p>
    <table>
      <tr>
        <th> Date</th>
        <th> Event(s)</th>
        <th> Brief Summary</th>
      </tr>
      <tr>
        <td> January 2023</td>
        <td> Public survey
          (n=187) </td>
        <td>We did a street survey to study public perception of
          indoor formaldehyde pollution.To summarize:
        <ul>
          <li> Most interviewees understand the harm of formaldehyde pollution.</li>
          <li> Most interviewees know that furniture, paints and wallpaper are the source of formaldehyde.</li>
          <li> Most interviewees are not aware of food and smoking can also be a source of formaldehyde.</li>
          <li> Some interviewees or their family had been affected by formaldehyde pollution.</li>
          <li> Around half of the interviewee are willing to pay for the detection of formaldehyde.</li>
        </ul></td>
      </tr>
      <tr>
        <td>February 2023</td>
        <td> Teachers interview
          Mr. Wong Cheuk Hon
          </td>
        <td> Mr. Wong had experience in doing research in molecular biology. He had given us valuable suggestions about using GM <i>E. coli</i> to detect formaldehyde.</td>
      </tr>
      <tr>
        <td> February 2023</td>
        <td> Team Meeting:
          Government Policy
          </td>
        <td> Regarding Hong Kong Government policy towards the use of GMO and Biosafety. We held a team meeting to discuss the details and make sure our project is within the limits. </td>
      </tr>
      <tr>
        <td> March 2023</td>
        <td>Teachers interview
          Mr. Chan Ping Ho
          </td>
        <td>Mr. Chan has experience leading different types of STEM competitions. He has a lot of experience in product design. After we design the first version of our device, we consulted Mr. Chan and he gave us a lot of suggestions regarding the function and design of the device.</td>
      </tr>
      <tr>
        <td> June 2023</td>
        <td> Industry interview:
          Mr. Maurice Yeung
          (General manager of Gaurice Environment LTD)
          </td>
        <td>Gaurice Environment LTD is a popular formaldehyde removal company in Hong Kong. 
          Mr. Maurice Yeung has a great interest in using biological technology to detect formaldehyde. He provided us with information regarding potential customers and their needs. He also gave us suggestions regarding the design of our device.
          </td>
      </tr>
      <tr>
        <td> June 2023</td>
        <td> Target group survey
          (n=42)
          </td>
        <td> We conduct a survey to reach out to our potential customers – people who have just renovated their homes. Based on their feedback, we improved the design of our device. 
          <ul>
            <li> The operation of the device needed to be more user friendly.</li>
            <li> The price need to be lower.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td> July 2023</td>
        <td> Industry interview:
          Mr. Ambrose Kong
          (Customer manager of Wong's Cleaning Service Company)
          </td>
        <td> Wong's Cleaning Service Company is a  popular formaldehyde removal company. Mr. Ambrose Kong has a great understanding of formaldehyde removal. He highlighted that the operation of the device needs to be user friendly. He also raised concerns regarding the sensitivity of our GM E. coli and how the cost compares to other formaldehyde detecting service / product in the market.  </td>
      </tr>
      <tr> 
        <td> August 2023</td>
        <td> University Professor interview:
          Professor Tian Linwei (The associate professor of Faculty of Medicine of University of Hong Kong)
          </td>
        <td> Professor Tian Linwei is the associate professor of the Faculty of Medicine of the University of Hong Kong. He is an expert in the field of environmental epidemiology with a focus on air pollution and health. Prof. Tian had given us a lot of suggestions regarding the use of GM <i>E. coli </i>ito detect formaldehyde.</td>
      </tr>
    </table>
    <p><i><b> Table 1. List of stakeholders interviewed, surveys conducted and team meetings held regarding human practice.</b></i></p>
    <p>The suggestions and opinions received from different stakeholders are condensed to the most relevant values for the design of our project. </p>
    <br>
    <b><h2>Interviews, surveys and team meetings</h2></b>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure-2.jpg" width="800" class="center">
    <center><p><i><b> Figure 2. Concerns-feedback pyramid of the science sector. Based on suggestions from teachers and university professor, the major concerns are the possibility and accuracy of our GM bacteria.</b></i></p></center>
    <p> 
      For the science sector, opinions and suggestions received from our science teacher Mr. Chan
      and Mr. Wong are mainly focused on the possibility of using GM <i>E. coli</i> and our device to
      detect formaldehyde. Mr. Wong also suggested that we choose a robust and reliable reporter.
      In response, we performed an extensive literature review and identified pFrmR and HxIR as
      potential candidates for formaldehyde-sensitive promoters. We chose dTomato as the reporter
      as it is an exceptionally bright red fluorescent protein (6X brighter than EGFP). dTomato's
      emission wavelength is 581 nm which makes it visible to the naked eye. Mr Chan has given
      us a lot of valuable suggestions regarding the design and function of our device.
    </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practices-figure-3.jpg" width="800"  class="center">
    <center><p><i><b> Figure 3. Our team interviewing Mr. Chan and Mr. Wong. </b></i></p></center>
    <p>
      On the other hand, Prof. Tian Linwei from the University of Hong Kong highlighted that one
      major advantage of our product is that GM <i>E. coli</i> is formaldehyde specific. However, only
      showing the presence of formaldehyde in the environment is not useful enough, we need to
      show the correlation between the intensity of color of the bacterial culture and the
      formaldehyde concentration in air. He also pointed out that <i>E. coli</i> is quite different from
      humans, any effect on our GM <i>E. coli</i> may not reflect good or bad in humans.
    </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure-4.jpg" width="800"  class="center">
    <center><p><i><b> Figure 4. Our team interviewing Prof. Tian Linwei, the associate professor of Faculty of Medicine of University of Hong Kong. </b></i></p></center>
    <p>Our Feedback:   </p>
    <ol>
      <li> We successfully produced a GM <i>E. coli</i> that can show the presence of formaldehyde.</li>
      <li> The reporter signal can be easily observed by the naked eye.</li>
    </ol>
    <p>Limitation:</p>
    <ol>
      <li> Due to time limitation, the correlation between the color intensity of the bacterial culture and actual formaldehyde concentration in air is yet to be confirmed. </li>
      <li> It would be better if we use model organism genomic similar to humans to reflect how the formaldehyde in the environment math affect human. However, our school laboratory does not have the capacity to handle these model organisms. </li>
    </ol>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure-5.jpg" width="800" class="center">
    <center><p><i><b> Figure 5. Concerns-feedback pyramid of the regulation sector. Bio-safety in using GMO and mitigating formaldehyde pollution will be the major concerns. </b></i></p></center>
    <p>Regarding regulations, we had held a team meeting to study Hong Kong Government’s regulations about bio-safety and indoor formaldehyde pollution. According to The Genetically Modified Organisms (Control of Release) Ordinance, Cap. 607 (the Ordinance) [2], GMOs intended for contained use, such as GM micro-organisms cultured in laboratories, are not required to notify or document to the authority.</p>
    <p>Regarding indoor formaldehyde pollution, The Government of Hong Kong Indoor Air Quality Management Group has stated that formaldehyde is a common indoor air pollutant, and the health impact of formaldehyde is well documented. Formaldehyde level can be determined by active or passive sampling followed by analysis methods such as High Performance Liquid Chromatography (HPLC) or colorimetry [3]. Yet, the cost of these tests are not affordable by the public on a daily basis.</p>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure-6.jpg" width="800" class="center">
    <center><p><i><b> Figure 6. We held a team meeting to discuss Hong Kong Government’s regulations about bio-safety and indoor formaldehyde pollution.</b></i></p></center>
    <p><b> Our Feedback:</b></p>
    <ol>
      <li> Safety precautions are taken to make sure the GM <i>E. coli</i> will not be released to the environment during our experiments and prototype testing. </li>
      <li> The E. coli strains we used in our project are non-pathogenic and safe to humans. </li>
      <li> We aimed to provide a cheaper and more convenient alternative to HPLC and colorimetry for public daily use in monitoring formaldehyde pollution. </li>
    </ol>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure7.jpg" width="800" class="center">
    <center><p><i><b> Figure 7. Concerns-feedback pyramid of the user sector. Whether the device is user friendly and the cost of the product are user's major concerns.</b></i></p></center>
    <p>
      For the users, their major concerns are the cost and user experience. With reference to our public survey, among the 187 interviewees, most of them are aware of the source and consequence of formaldehyde pollution. Some interviewees or their family had been affected by formaldehyde pollution, around half of the interviewees are willing to pay for the detection of formaldehyde. 
    </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure8.jpg" width="800" class="center">
    <center><p><i><b> Figure 8. Results of our public survey (n=187).</b></i></p></center>
    <br>
  
    <p>We had also performed another survey on 42 people who have just renovated their homes, most of them are willing to pay for formaldehyde detection and removal. However, only some of them are willing to try our device. Among the 24 who choose not to use our product, the major concerns are not user friendly and too costly. </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure9.jpg" width="800" class="center">
    <center><p><i><b> Figure 9. Results of our survey on people who have just renovated their homes (n=42).</b></i></p></center>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure10.jpg" width="800" class="center">
    <center><p><i><b> Figure 10. Our team conducting public survey to gather public opinions.</b></i></p></center>
    <p><b> Our Feedback: </b></p>
    <ol>
      <li> We incorporated IFTTT to our device, it is a software platform that connects apps and devices from different developers in order to trigger one or more automations involving those apps and devices.</li>
      <li> The device can automatically take readings and notify the user once the bacterial culture changes color (indicating the present of formaldehyde).</li>
      <li> Due to the needs of a color sensor and multiple chips to control the fan, power supply and wifi connection, the production cost of our device can hardly be reduced. <br> On the other hand, we modified the design to make it easier to assemble and  more durable, so it can be reused many times to reduce the cost in the long run.</li>
      <li> The cost of replacing GM <i>E. coli</i> is low. We can charge less for old customers who have already purchased the device. </li>
    </ol>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure11.jpg" width="800" class="center">
    <center><p><i><b> Figure 11. Concerns-feedback pyramid of the industry sector. Their major concerns are whether the produce is efficient and profitable.</b></i></p></center>
    <p>
      For the industry sector, we interviewed Mr. Maurice Yeung from Gaurice Environment LTD and Mr. Ambrose Kong from Wong's Cleaning Service Company.  They are concerned if the use of GM bacteria can increase the efficiency in testing formaldehyde level and the public perception towards our device. They also expressed concern about the level of formaldehyde our GM <i>E. coli</i> can reflect, they stated that the common standard for indoor formaldehyde level is 0.1ppm, it would be better if the color change of our bacteria matches the standard and not just a random level. 
    </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/human-practice-figure12.jpg" width="800" class="center">
    <center><p><i><b> Figure 12. We interviewed Mr. Maurice Yeung from Gaurice Environment LTD and Mr. Ambrose Kong from Wong's Cleaning Service Company to better understand how experts within the field value our project.</b></i></p></center>
    <p><b> Our Feedback:</b></p>
    <ol>
      <li> Let GM <i>E. coli</i> do the work in detecting indoor formaldehyde pollution can reduce the manpower required in doing the tests. </li>
      <li> With reference to our experiments, GM <i>E. coli</i> can show color change in the presence of formaldehyde within 24 hours, which is comparably effective towards lab tests. </li>
      <li> The use of IFTTT in our device allows automatic detection and notification to the user, which can decrease the response time. </li>
    </ol>
    <p><b> Limitations:</b></p>
    <ol>
      <li> Only a portion of the public accept the use of our GM E. coli and device to detect formaldehyde. Many of them still prefer traditional methods.</li>
      <li> The correlation between color change and actual formaldehyde level requires more testing to confirm. </li>
    </ol>
    <br>
    <b><h2> Reflections</h2></b>
    <p>We understand the necessity of human practices in our project. The amount of information we get when we involve different stakeholders in the project is enormous. During the human practices work, we can realize in what directions we could improve our project, to make it more meaningful to the local community and the world.</p>
    <p>Though our project still has many limitations and issues awaiting to be addressed, we believe we have made some contributions towards iGEM as well as the community. For example, we had shed light on the use of genetic engineered organisms in the detection of air pollutants. We have also demonstrated how the use of online automated platforms can greatly reduce human workload.</p>
    <p>Make sure to read the Integrated Human Practices page. On that page, all interviews with stakeholders are processed and we show how we integrate their feedback in the evolution of our formaldehyde detecting device.</p>
    <br>
    <br>
    <br>

    <div class="row mt-4">
      <b><h1>Integrated Human Practices</h1></b>
      <hr>
      <p>
          Given our concern about the danger of formaldehyde, we launched this project and designed a formaldehyde detection machine using GM E. coli. During the course, we received help and learnt a lot from different stakeholders. Their critical view and feedback helped us to optimize our project plan and solution design into one that is more effective, feasible, and likely to be successful. 
      </p>
      <h2><b> The Timeline </b></h2>
      <p> The timeline below shows how the engagement with stakeholders shaped our project plan and design. It connects our human practices to the design of our construct, experiments we conducted and the evolution of our formaldehyde detecting device. </p>
      <center><img src="https://static.igem.wiki/teams/4813/wiki/ihp-timeline.jpg" width="1000"></center>
      <center><p><i><b> Figure 1.Timeline showing how the engagement with stakeholders shaped our project plan and design. Green line and boxes represent the timeline and human practice events. Red boxes represent how the design of our device evolved. Blue boxes represent the design of our GM E. coli and wet lab.</b></i></p> </center>
      <h2><b> The Feedback Loop </b></h2>
      <center><img src="https://static.igem.wiki/teams/4813/wiki/integrated-human-practice-figure2a.jpg" width="1000"></center>
      <center><img src="https://static.igem.wiki/teams/4813/wiki/integrated-hp-figure2b.jpg" width="1000"></center>
      <center><p><i><b> Figure. 2 Results of our public survey (n=187). </b></i></p> </center>
      <p>
          We were inspired by the local news about indoor air quality (IAQ) and want to study the health effects of indoor air pollution. According to the Hong Kong Environmental Protection Department, there are several major air pollutants in homes and formaldehyde is one of the most common among them. Studies showed that formaldehyde in home can be coming from burning of fuels in gas stoves, building and furnishing materials, renovation works, new wooden furniture or even food we eat [1].</p>
      <p>There is no doubt formaldehyde can cause serious health issues and is worth attention. However, it is not clear how the general public perceive the problem. As a result, we conducted a public survey in order to gather information about how people in Hong Kong understand indoor formaldehyde pollution. Among the 187 interviewees, most of them are aware of the source and consequence of formaldehyde pollution. We also asked if the interviewees or their family had been affected by formaldehyde pollution, 61% of them reported “yes”, and 53% of the interviewees are willing to pay for the detection of formaldehyde. </p>
      <p><b>Reflections:</b> </p>
          <ul>
              <li> Formaldehyde pollution is a real life issue concerned by many locals.</li>
              <li> Many people are willing to pay for the detection of formaldehyde. </li>
          </ul>
      <p> <b>Feedbacks: </b></p>
          <ul>
              <li> We aimed to develop a biosensor for the detection of formaldehyde. </li>
              <li> Our project is connected to our society by solving a real life problem. </li>
          </ul>
          <br>
        <center><img src="https://static.igem.wiki/teams/4813/wiki/ihp2.jpg" width="1000"></center>
      <p> To begin with, we need to explore if it is possible to make a synthetic organism that can help us to detect formaldehyde in the environment. Since we are high school students, we have basic understanding about genetic engineering but no practical experience. Therefore, after we discussed and made a preliminary design, we consulted Mr. Wong, who had conducted molecular biology experiments in the university and had experience in genetic engineering. Mr. Wong gave us a lot of practical information. This includes conducting a broader literature search to identify more candidates for testing when selecting promoters to increase the chance of finding a suitable one. When selecting reporter genes, it is necessary to consider the detection method and signal strength. For example, the commonly used gfp requires specific wavelengths of light and filters to be observed, which may not be the best choice.</p>
      <br>
      <p><b> Reflections: </b></p>
          <ul>
              <li> Although identifying more promoters can provide a better chance of success.
                  However, our time is limited and cloning takes time, so we need to take a balance between the number of promoters to be tested and feasibility.</li>
              <li> Reporter gene signals can best be observed directly with the naked eye.</li>
          </ul>
      <p><b> Feedbacks: </b></p>
          <ul>
              <li> After searching the literature, we identified two promoters, the pfrmR and HxIR13A  which had been reported to have specific promoter activity towards formaldehyde.</li>
              <li> For the reporter gene, we choose to use dTomato, which is a red fluorescent protein, from Discosoma sp. It can be observed directly with the naked eye. </li>
          </ul>
          <br>
        <center><img src="https://static.igem.wiki/teams/4813/wiki/ihp3.jpg" width="1000"></center>
      <p> It is important that our project is responsible and good for the world. All research and experiments related to the making and testing of our GM <i>E. coli</i> must comply with local rules on GMOs. Therefore, we held a team meeting to discuss the Hong Kong government's regulations in this regard. We also discussed how the Hong Kong government addresses indoor air pollution from formaldehyde.</p>
      <p><b> Results: </b></p>
          <ul>
              <li> According to The Genetically Modified Organisms (Control of Release) Ordinance, Cap. 607 (the Ordinance), GMOs intended for contained use, such as GM micro-organisms cultured in laboratories, are not required to notify or document to the authority. </li>
              <li> The Hong Kong Education Bureau had issued the “Safety Guidelines on Microbiology and Biotechnology Experiments in School Laboratories”. According the the guidelines, our school laboratory setting is Biosafety levels (BSL) 1, we are not supposed to handle any pathogenic organisms which may pose moderate individual risk. </li>
              <li> Regarding indoor formaldehyde pollution, The Government of Hong Kong Indoor Air Quality Management Group has stated that formaldehyde is a common indoor air pollutant, and the health impact of formaldehyde is well documented. Formaldehyde level can be determined by active or passive sampling followed by analysis methods such as High Performance Liquid Chromatography (HPLC) or colorimetry.</li>
          </ul>
      <p><b> Reflections: </b></p>
          <ul>
              <li> High school students can use GMOs for scientific studies, but only in contained use.</li>
              <li> Our school laboratory can only handle level 1 microorganisms. </li>
              <li> The Hong Kong government considers indoor formaldehyde pollution a matter of concern and encourages actively checking for its presence.  
              </li>
          </ul>
      <p><b> Feedback:</b></p>
          <ul>
              <li> We take safety precautions, including wearing protective gloves during experiments and disinfecting any equipment in contact with the bacteria, to make sure the GM <i>E. coli</i> will not be released to the environment during our experiments and prototype testing.</li>
              <li> The <i>E. coli</i> strains we used in our project are non-pathogenic and safe to humans. This can ensure we are not exposed to danger microorganisms during experiments.</li>
              <li> Government suggests regular testing for formaldehyde pollution with HPLC or colorimetry. We plan to make our device a more affordable and easy to use alternative. </li>
          </ul>
          <br>
        <center><img src="https://static.igem.wiki/teams/4813/wiki/ihp4.jpg" width="1000"></center>
      <p> In order to improve the design of our device, we consulted Mr. Chan from our school after designing the first version. Mr. Chan has led students to participate in different types of STEM activities and competitions. He has great experience in product design and production. He put forth several significant suggestions for our device design.</p>
      <p><b> Reflections:</b></p>
          <ul>
              <li> The color sensor placed at the bottom may be easily interfered by lights from the surrounding. </li>
              <li> The bacteria culture put inside an enclosed box may not expose to air pollutants in the environment. Ventilation is necessary for our device. </li>
          </ul>
      <p><b> Feedback:</b></p>
          <ul>
              <li> The color sensor is placed on top since light interference from the ground should be less than from other directions. </li>
              <li> A fan is installed to the device and set to operate periodically for ventilation. </li>
          </ul>
          <br>
        <center><img src="https://static.igem.wiki/teams/4813/wiki/ihp5.jpg" width="1000"></center>
      <p> In order to understand what people in the industry think of our products, we consulted two local companies that provide formaldehyde detection and removal services. Maurice Yeung, the general manager of Gaurice Environment LTD, has pointed out that the device should be more durable to reduce long run cost and GM E.coli should produce a stronger signal which can be detected easily. Besides, he has emphasized that the signal intensity of our bacteria should show the level of formaldehyde, since the industry usually compares to the international standards to determine whether the environment is safe. </p>
      <p><b> Reflections:</b></p>
          <ul>
              <li> Materials of our device should be durable so that it can be reused to reduce the cost in the long run.</li>
              <li> Instead of just detecting the colour change of GM <i>E.coli</i>, we should provide a quantitative measurement of the signal intensity and use it as a reference to formaldehyde level in air.</li>
          </ul>
      <p><b> Feedback: </b></p>
          <ul>
              <li> Replaced the materials of our device from cardboard to fiberboard to make it more durable.</li>
              <li> More experiments are in progress to establish the correlation between formaldehyde concentration and the color intensity of the bacterial culture. </li>
          </ul>
          <br>
        <center><img src=" https://static.igem.wiki/teams/4813/wiki/ihp6.jpg" width="1000"></center>
      <center><img src="https://static.igem.wiki/teams/4813/wiki/ifp-figure3.jpg" width="1000"></center>
      <center><p><i><b> Figure 3. Results of our survey on people who have just renovated their homes (n=42).</b></i></p> </center>
      <p> To understand whether potential customers would accept the use of our GM <i>E. coli </i>device to detect indoor formaldehyde levels, we interviewed 42 citizens who had recently had their homes renovated. 76% of the respondents stated that they are willing to pay for the checking of formaldehyde in their houses, but only 43% are willing to use our products. Among the 24 citizens who voted not to use our products said that their biggest concerns are the high price and it is difficult to use.</p>
      <p><b> Reflections: </b></p>
          <ul>
              <li> Our device should have more automated functions to be user-friendly. </li>
              <li> The cost of our product to the users should be lower.</li>
          </ul>
      <p><b> Feedback: </b></p>
      <ul>
          <li> We installed IFTTT to our device, it is a software platform that connects apps and devices from different developers in order to trigger one or more automations involving those apps and devices.</li>
          <li> We reviewed the cost of producing our device. Due to the needs of a color sensor and multiple chips to control the fan, power supply and wifi connection, the production cost of our device can hardly be reduced. On the other hand, we restructured our business model and tried to shift part of the cost from the user to the formaldehyde removal companies that are in collaboration with us. </li>
          <li> The cost of replacing GM <i>E. coli</i> is low. We can charge less for old customers who have already purchased the device. 
      </ul>
      <br>
    <center><img src="https://static.igem.wiki/teams/4813/wiki/ihp7.jpg" width="1000"></center>
      <p> Business model is also one significant aspect of our project. However, we seem to ignore it in previous work. To learn more from the inducsty, we interviewed Ambrose Kong, the customer manager of Wong's Cleaning Service Company, which is  a popular formaldehyde removal company and Mr. Kong has a great understanding in the business and he has provided some important suggestions for us to build a business model that aims to provide a better user experience to customers.</p>
      <p> Mr. Kong has pointed out the public may have misconception or misunderstanding towards GMOs or our device. We should explain the advantages of using GM <i>E. coli</i> to detect formaldehyde. Besides, he has also mentioned that the device can be more user and environmentally friendly by using rechargeable batteries instead of dry cells. as possible. On the other hand, Mr. Kong has expressed his concern on whether the colour change of the GM <i>E.coli</i> can reflect the formaldehyde concentration or not.</p>
      <p><b> Reflections:</b></p>
      <ul>
          <li> We should conduct education work in order to preach to the public about the advantages of using GMOs in daily life. </li>
          <li> The device should be rechargeable. </li>
      </ul>
      <p><b> Feedback: </b></p>
      <ul>
          <li> We replaced the dry cell with a rechargeable system using lithium batteries. </li>
          <li> We plan and organise education program targeting primary school students - our next generation. </li>
      </ul>
      <br>
    <center><img src="https://static.igem.wiki/teams/4813/wiki/ihp8.jpg" width="1000"></center>
      <p> The design of our device had been finalized and we would like to consult professionals for their advice. We are glad that Professor Tian Linwei, the associate professor of Faculty Of Medicine of University Of Hong Kong, accepted our invitation for an interview. Professor Tian focuses on air pollution and health and has been conducting field epidemiology and laboratory work on indoor air pollution. Professor Tian has pointed out some vital limitations to us and helped us to set up the future direction for our project. </p>
      <p> Regarding our GM <i>E. coli</i>, Prof. Tian highlighted that the color change of the bacteria should at least give a rough estimation of the formaldehyde concentration in the environment to the user. For our device, it is functional but there are some limitations that could be further improved. For example, our device does not have temperature control so it cannot operate of the environment is too hot or cold for the bacteria, our device also requires wifi to function, it can be a disadvantage if there is no wifi network. He also pointed out that E. coli is different from human cells, any effect on our GM <i>E. coli</i> may not reflect effects to humans. </p>
      <p><b> Reflection: </b></p>
      <ul>
          <li> Our device is functional, but still has a lot of rooms for improvement.</li>
          <li> Experts and professionals from the science and industry sector again pointed out that our GM <i>E. coli</i> needs to be able to show the level of formaldehyde in the environment. </li>
      </ul>
      <br>
      <h2><b> Conclusion</b></h2>
      <p> So that’s everything we have done in the past few months! We are very grateful that people from different backgrounds had given us a lot of valuable advice along the way. There are some comments that we have already addressed and some that are still in progress. We understand that our current project still has limitations, but we have also achieved some achievements.</p>
      <p> For the GM <i>E. coli</i>:</p>
      <p>Achievements:</p>
      <ul>
          <li>The pFrmR promoter can detect the presence of formaldehyde and activate the production of a chromoprotein. </li>
          <li> The colonies that contain the dTomato red chromoprotein exhibit a more obvious color signal when observed with the naked eyes, compared to the colonies containing tdTomato.</li>
          <li> The HxIR operon has the potential to enhance <i>E. coli's</i> resistance to formaldehyde solution.</li>
          <li> Within the conditions we tested, the HxIR device is not able to detect the presence of formaldehyde.</li>
      </ul>
      <p> Major considerations that we need to address:</p>
      <ul>
          <li> Investigating the concentration effect: In addition to detecting the presence of formaldehyde, we also aim to determine its concentration.</li>
          <li> Sensitivity to low concentrations: The standard safety limit for formaldehyde exposure to humans is 0.75 ppm (24.98 uM), which is much lower than our experimental conditions. We need to assess if our device and hardware system can detect such low concentrations.</li>
          <li> Ensuring safety measures: Safety is a crucial aspect of our project. We need to consider implementing safety measures such as incorporating a kill switch or containment mechanisms when working with our engineered organisms. </li>
      </ul>
      <p> For the hardware:</p>
      <p>Achievements: </p>
      <ul>
          <li> We design a device, the ADAM, for the automatic detection of the color change of the GM <i>E. coli</i> which signifies the presence of formaldehyde. </li>
          <li> We had demonstrated the integration of a software platform (IFTTT) that connects apps and devices in order to trigger one or more automations, with a biological system (GM <i>E. coli</i>) that follows the central dogma to function. All together they performed an automated task to help us detect the presence of formaldehyde. </li>
      </ul>
      <p>Major considerations that we need to address:</p>
      <ul>
          <li> First of all, extreme temperatures may affect the functionality of the machine. As the genetically modified <i>E.coli</i> might not function properly at extreme temperatures, which means they cannot synthesise red proteins. Temperature control is now in progress. </li>
          <li> The device is not able to operate with no Wi-Fi connection since it relies on Wi-Fi to send messages to clients via IFTTT. We are now working on offline function, for example adding a display board on the device. </li>
          <li> ESP32CAM is a less sensitive sensor thus it cannot detect minor colour change. We are looking for a more sensitive sensor. </li>
      </ul>
      <br>
      <h2><b> Reference:</b></h2>
      <a href="https://www.iaq.gov.hk/en/what-is-iaq-sources-of-indoor-air-pollutants/"> https://www.iaq.gov.hk/en/what-is-iaq-sources-of-indoor-air-pollutants/</a>
      <a href="https://www.scmp.com/news/china/society/article/2187624/popular-chinese-handheld-devices-measure-formaldehyde-fail-tests">https://www.scmp.com/news/china/society/article/2187624/popular-chinese-handheld-devices-measure-formaldehyde-fail-tests</a>
      <a href="https://www.elegislation.gov.hk/hk/cap607@2011-03-02T00:00:00?INDEX_CS=N"> https://www.elegislation.gov.hk/hk/cap607@2011-03-02T00:00:00?INDEX_CS=N</a>
      <a href="https://www.iaq.gov.hk/wp-content/uploads/2021/04/gn_officeandpublicplace_eng-2019.pdf"> https://www.iaq.gov.hk/wp-content/uploads/2021/04/gn_officeandpublicplace_eng-2019.pdf</a>
      <a href="https://ifttt.com/"> https://ifttt.com/</a>
      <a href=" https://www.sciencedirect.com/science/article/abs/pii/S0273230008001852#:~:text=Overall%2C%20there%20is%20a%20growing,personal%20care%20products%20(PCP)."> https://www.sciencedirect.com/science/article/abs/pii/S0273230008001852#:~:text=Overall%2C%20there%20is%20a%20growing,personal%20care%20products%20(PCP).
      </a>
  <br>
  <br>
  <h2><b> Education and Communication</b></h2>
    <p> We have always wanted to seek for more opportunities to include more people in shaping Synthetic Biology. We believe that education and promotion of Synthetic Biology could be done even among primary students and junior secondary students.</p>
    <p>Our education program aimed to: </p>
    <ol>
      <li> introduce synthetic biology to new groups of students i.e. Primary school students and junior form students</li>
      <li> Raise their interest in learning more about synthetic biology and GMO</li>
      <li> Present them with “facts” so that they can make a more informed decision towards GMO.</li>
    </ol>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure13.jpg" width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure13b.jpg" width="400">
    </div>
    <p><i><b> Figure13(a)(left). Synthetic Biology Talk held by Mr Caleb Wong on 28/8/2023; figure13(b)(right):Organised a  Synthetic Biology Kahoot game for primary students</b></i></p>
    <p> We organised a range of activities for primary students and junior secondary students. There were hands-on practicals about growing <i>E. coli</i> on agar plate, seminars introducing iGEM and synthetic biology and its applications, Kahoot Competition about synthetic biology, sharing sessions in the whole-school assembly and 
More than 100 primary school students and 60 junior secondary students from over 10 schools had participated in our events. Of the hundred of participants, there were also students from different minority groups. This helps to spread the ideas of synthetic biology to people of different groups and more people from different backgrounds could recognize the  use of synthetic biology in our daily life effectively.
</p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure14a.jpg" width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure14b.jpg" width="400">
    </div>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure14c.jpg" width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure14d.jpg" width="400">
    </div>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figuree.jpg" width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure14f.jpg" width="400">
    </div>
    <p><i><b> Figure14.Primary Students streaking GM RFP <i>E. coli</i> on L.B. plate</b></i></p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure15a.jpg" width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure15b.jpg" width="400">
    </div>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure15c.jpg"  width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure15d.jpg"  width="400">
    </div>
    <p><i><b> Figure15. Primary Students collecting the microorganisms from fingers using N.B.</b></i></p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure16a.jpg" width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure16b.jpg"  width="400">
    </div>
    <p><i><b>Figure16 Red protein found from the streaking of <i>E. coli</i></b></i></p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure17a.jpg"  width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure17b.jpg"  width="400">
    </div>
    <p><i><b> Figure17. Colonies and lawns of bacteria from thumb prints in N.A.</b></i></p>
    <p> We have prepared PowerPoint to introduce basic knowledge of biology, microorganisms and synthetic biology. And we also included how we can use <i>E. coli</i> as a tool to detect formaldehyde in the environment. Our team members also made a set of stickers and a poster to promote our project and synthetic biology. We believe the nourishment of the idea of synthetic biology among the younger ones is important and could enhance the development of biotechnology in the future. </p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure18a.jpg" width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure18b.jpg"  width="400">
    </div>
    <p><i><b>  Figure18. Brief introduction of our iGEM project to the primary students</b></i></p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure19a.jpg"  width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure19b.jpg" width="400">
    </div>
    <p><i><b> Figure19. Students answering questions and providing some new ideas during the  Q&A sessions</b></i></p>
    <p>The “iGEM Education Workshop on Synthetic Biology_Session 2’' was designed as a follow-up to the previous workshop with the aim of enhancing the students' knowledge about biotechnology and synthetic biology. The workshop provided further elaborations and examples to deepen their understanding of the subject. Open discussion sessions were also allowed to develop two-way dialogue among students and our team members on their concerns and public value of using synthetic biology .</p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure20a.jpg"  width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure20b.jpg"  width="400">
    </div>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure20c.jpg" width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure20d.jpg" width="400">
    </div>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure20e.jpg" width="400">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure20f.jpg" width="400">
    </div>
    <p><i><b> Figure20. Students actively engaging in the discussion of the second session of our iGEM Education Workshop.</b></i></p>
    <p> During the workshop, the concept of synthetic biology was explained in simple terms, and examples were given to illustrate how it involves genetically modified organisms. This approach helped students to grasp the fundamental principles of synthetic biology more effectively. The workshop also emphasised the relationship between biotechnology and synthetic biology, highlighting that synthetic biology is a branch of biotechnology. This connection between the two fields likely helped the students in understanding the significance of synthetic biology. Furthermore, our iGEM project was introduced during the workshop to shed light on the negative effects of formaldehyde. By our explanation, the students were able to know how synthetic biology can be applied to address real-world problems and contribute to solutions.</p>
    <p> In a fortunate turn of events, the opportunity to promote the iGEM project at a girl school with minority students through broadcasting was obtained. This allowed students who didn't participate in the workshops to still learn about the project. This broader exposure ensured that a larger number of students from different backgrounds could benefit from the knowledge and insights offered by the iGEM project. </p>
    <p> Lastly, students were allowed to have small group discussions on the advantages and drawbacks of using synthetic biology. They tried raising new ideas of application of synthetic biology in the future. We were  overwhelmed by the  intense response from them. </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure21.jpg"  width="700" length="600" class="center">
    <p><i><b>Figure21. Broadcasting in the school assembly to promote Synthetic Biology and our iGEM Project</b></p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure22.jpg" width="350" length="600">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure22b.jpg" width="350" length="600">
    </div>
    <p><i><b> Figure22. Promotional stickers and poster designed by Madam Lau Kam Lung Secondary School of  MFBM (Ng Chun Yi) </b></i></p>
    <p> Overall, the second workshop aimed to provide further elaborations, examples, and practical applications of synthetic biology to enhance the students' knowledge in the field of biotechnology. The inclusion of the iGEM project and the promotion of it in the school assembly contributed to a wider dissemination of knowledge and awareness among the student body.</p>
    <p> Referring to the Google Form survey, over 90% of students had positive responses and feedback towards our workshops. The overwhelming positive response and the keen interest expressed by the students indicate that they found the workshop valuable and engaging. Furthermore, the feedback received suggests that the examples provided during the workshop were effective in helping the students grasp the concepts of synthetic biology.  The fact that they expressed interest in joining more activities related to synthetic biology demonstrates that the workshop sparked their curiosity and desire for further exploration in the field.</p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure23a.jpg" width="500" length="300">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure23b.jpg" width="500" length="300">
    </div>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure23c.jpg" width="500" length="300">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure23d.jpg" width="500" length="300">
    </div>
    <table style="width:200px;">
      <td><img src="https://static.igem.wiki/teams/4813/wiki/hp-figure24a.jpg">
        <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure24b.jpg">
        <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure24c.jpg"><img src="https://static.igem.wiki/teams/4813/wiki/hp-figure24d.jpg"><img src="https://static.igem.wiki/teams/4813/wiki/hp-figure24e.jpg">
      </td>
    </table>
    <p><i><b>  Google Form Responses from students attending the workshop</b></i></p>
    <p>Based on the students’ response in the seminar and feedback from Google Form, we believed we had achieved our goal. The positive feedback and expressed eagerness to participate in future activities highlight the workshop's effectiveness in engaging and educating the students in this subject matter.In the whole process, we also learned a lot. Apart from doing research and development, we are now more aware of how to teach the young students skillfully about synthetic biology, especially with limited knowledge of biology. We also learned how to convey the message to the younger generation to increase the recognition of the contribution of GMO in improving our living standard and support our project. This is crucial for us if we want to promote synthetic biology. 
    </p>
    <div class="image-row center">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure25a.jpg" width="350" length="600">
      <img src="https://static.igem.wiki/teams/4813/wiki/hp-figure25b.jpg" width="350" length="600">
    </div>
    <p><i><b> Sample question from our Kahoot MC Games to raise the interest of primary students  in our seminar and workshops</b></i></p>

  
  
  </div>
  







</div>


{% endblock %}
