{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <h1>Human Pratice</h1>
  <div class="col">
    
    <div class="bd-callout bd-callout-info">
      
    </div>
  
    <div class="bd-callout bd-callout-info">
      
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
   
  </div>
  <div class="col-lg-4">
    
  </div>
</div>

{% endblock %}
