{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<div class="row mt-4">
    <b><h1>Integrated Human Practices</h1></b>
    <hr>
    <p>
        Given our concern about the danger of formaldehyde, we launched this project and designed a formaldehyde detection machine using GM E. coli. During the course, we received help and learnt a lot from different stakeholders. Their critical view and feedback helped us to optimize our project plan and solution design into one that is more effective, feasible, and likely to be successful. 
    </p>
    <h2><b> The Timeline </b></h2>
    <p> The timeline below shows how the engagement with stakeholders shaped our project plan and design. It connects our human practices to the design of our construct, experiments we conducted and the evolution of our formaldehyde detecting device. </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/ihp-timeline.jpg" width=50% length=100%>
    <p><i><b> Figure 1.Timeline showing how the engagement with stakeholders shaped our project plan and design. Green line and boxes represent the timeline and human practice events. Red boxes represent how the design of our device evolved. Blue boxes represent the design of our GM E. coli and wet lab.</b></i></p>
    <h2><b> The Feedback Loop </b></h2>
    <img src="https://static.igem.wiki/teams/4813/wiki/integrated-human-practice-figure2a.jpg" width="600" length="500">
    <img src="https://static.igem.wiki/teams/4813/wiki/integrated-hp-figure2b.jpg" width="600" length="500">
    <p><i><b> Figure. 2 Results of our public survey (n=187). </b></i></p>
    

</div>

{% endblock %}
