{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<div class="row mt-4">
    <b><h1>Integrated Human Practices</h1></b>
    <hr>
    <p>
        Given our concern about the danger of formaldehyde, we launched this project and designed a formaldehyde detection machine using GM E. coli. During the course, we received help and learnt a lot from different stakeholders. Their critical view and feedback helped us to optimize our project plan and solution design into one that is more effective, feasible, and likely to be successful. 
    </p>
    <h2><b> The Timeline </b></h2>
    <p> The timeline below shows how the engagement with stakeholders shaped our project plan and design. It connects our human practices to the design of our construct, experiments we conducted and the evolution of our formaldehyde detecting device. </p>
    <img src="https://static.igem.wiki/teams/4813/wiki/ihp-timeline.jpg" width=100% length=100%>
    <p><i><b> Figure 1.Timeline showing how the engagement with stakeholders shaped our project plan and design. Green line and boxes represent the timeline and human practice events. Red boxes represent how the design of our device evolved. Blue boxes represent the design of our GM E. coli and wet lab.</b></i></p>
    <h2><b> The Feedback Loop </b></h2>
    <img src="https://static.igem.wiki/teams/4813/wiki/integrated-human-practice-figure2a.jpg" width="600" length="500">
    <img src="https://static.igem.wiki/teams/4813/wiki/integrated-hp-figure2b.jpg" width="600" length="500">
    <p><i><b> Figure. 2 Results of our public survey (n=187). </b></i></p>
    <p>
        We were inspired by the local news about indoor air quality (IAQ) and want to study the health effects of indoor air pollution. According to the Hong Kong Environmental Protection Department, there are several major air pollutants in homes and formaldehyde is one of the most common among them. Studies showed that formaldehyde in home can be coming from burning of fuels in gas stoves, building and furnishing materials, renovation works, new wooden furniture or even food we eat [1].</p>
    <p>There is no doubt formaldehyde can cause serious health issues and is worth attention. However, it is not clear how the general public perceive the problem. As a result, we conducted a public survey in order to gather information about how people in Hong Kong understand indoor formaldehyde pollution. Among the 187 interviewees, most of them are aware of the source and consequence of formaldehyde pollution. We also asked if the interviewees or their family had been affected by formaldehyde pollution, 61% of them reported “yes”, and 53% of the interviewees are willing to pay for the detection of formaldehyde. </p>
    <h3><b>Reflections:</b> </h3>
    <ul>
        <li> Formaldehyde pollution is a real life issue concerned by many locals.</li>
        <li> Many people are willing to pay for the detection of formaldehyde. </li>
    </ul>
    <h3> <b>Feedbacks: </b></h3>
    <ul>
        <li> We aimed to develop a biosensor for the detection of formaldehyde. </li>
        <li> Our project is connected to our society by solving a real life problem. </li>
    </ul>
    <img src="https://static.igem.wiki/teams/4813/wiki/ihp2.jpg" width="500" length="300">
    <p> To begin with, we need to explore if it is possible to make a synthetic organism that can help us to detect formaldehyde in the environment. Since we are high school students, we have basic understanding about genetic engineering but no practical experience. Therefore, after we discussed and made a preliminary design, we consulted Mr. Wong, who had conducted molecular biology experiments in the university and had experience in genetic engineering. Mr. Wong gave us a lot of practical information. This includes conducting a broader literature search to identify more candidates for testing when selecting promoters to increase the chance of finding a suitable one. When selecting reporter genes, it is necessary to consider the detection method and signal strength. For example, the commonly used gfp requires specific wavelengths of light and filters to be observed, which may not be the best choice.</p>
    <br>
    <h3><b> Reflections: </b></h3>
    <ul>
        <li> Although identifying more promoters can provide a better chance of success.
             However, our time is limited and cloning takes time, so we need to take a balance between the number of promoters to be tested and feasibility.</li>
        <li> Reporter gene signals can best be observed directly with the naked eye.</li>
    </ul>
    <h3><b> Feedbacks: </b></h3>
    <ul>
        <li> After searching the literature, we identified two promoters, the pfrmR and HxIR13A  which had been reported to have specific promoter activity towards formaldehyde.</li>
        <li> For the reporter gene, we choose to use dTomato, which is a red fluorescent protein, from Discosoma sp. It can be observed directly with the naked eye. </li>
    </ul>
    <img src="https://static.igem.wiki/teams/4813/wiki/ihp3.jpg" width="500" length="300">
    <p> It is important that our project is responsible and good for the world. All research and experiments related to the making and testing of our GM E. coli must comply with local rules on GMOs. Therefore, we held a team meeting to discuss the Hong Kong government's regulations in this regard. We also discussed how the Hong Kong government addresses indoor air pollution from formaldehyde.</p>
    <h3><b> Results: </b></h3>
    <ul>
        <li> According to The Genetically Modified Organisms (Control of Release) Ordinance, Cap. 607 (the Ordinance), GMOs intended for contained use, such as GM micro-organisms cultured in laboratories, are not required to notify or document to the authority. </li>
        <li> The Hong Kong Education Bureau had issued the “Safety Guidelines on Microbiology and Biotechnology Experiments in School Laboratories”. According the the guidelines, our school laboratory setting is Biosafety levels (BSL) 1, we are not supposed to handle any pathogenic organisms which may pose moderate individual risk. </li>
        <li> Regarding indoor formaldehyde pollution, The Government of Hong Kong Indoor Air Quality Management Group has stated that formaldehyde is a common indoor air pollutant, and the health impact of formaldehyde is well documented. Formaldehyde level can be determined by active or passive sampling followed by analysis methods such as High Performance Liquid Chromatography (HPLC) or colorimetry.</li>
    </ul>
    <h3><b> Reflections: </b></h3>
    <ul>
        <li> High school students can use GMOs for scientific studies, but only in contained use.</li>
        <li> Our school laboratory can only handle level 1 microorganisms. </li>
        <li> The Hong Kong government considers indoor formaldehyde pollution a matter of concern and encourages actively checking for its presence.  
        </li>
    </ul>
    <h3><b> Feedback:</b></h3>
    <ul>
        <li> We take safety precautions, including wearing protective gloves during experiments and disinfecting any equipment in contact with the bacteria, to make sure the GM E. coli will not be released to the environment during our experiments and prototype testing.</li>
        <li> The E. coli strains we used in our project are non-pathogenic and safe to humans. This can ensure we are not exposed to danger microorganisms during experiments.</li>
        <li> Government suggests regular testing for formaldehyde pollution with HPLC or colorimetry. We plan to make our device a more affordable and easy to use alternative. </li>
    </ul>
    <img src="https://static.igem.wiki/teams/4813/wiki/ihp4.jpg" width="500" length="300">
    <p> In order to improve the design of our device, we consulted Mr. Chan from our school after designing the first version. Mr. Chan has led students to participate in different types of STEM activities and competitions. He has great experience in product design and production. He put forth several significant suggestions for our device design.</p>
    <h3><b> Reflections:</b></h3>
    <ul>
        <li> The color sensor placed at the bottom may be easily interfered by lights from the surrounding. </li>
        <li> The bacteria culture put inside an enclosed box may not expose to air pollutants in the environment. Ventilation is necessary for our device. </li>
    </ul>
    <h3><b> Feedback:</b></h3>
    <ul>
        <li> The color sensor is placed on top since light interference from the ground should be less than from other directions. </li>
        <li> A fan is installed to the device and set to operate periodically for ventilation. </li>
    </ul>
    <img src="https://static.igem.wiki/teams/4813/wiki/ihp5.jpg" width="500" length="300">
    <p> In order to understand what people in the industry think of our products, we consulted two local companies that provide formaldehyde detection and removal services. Maurice Yeung, the general manager of Gaurice Environment LTD, has pointed out that the device should be more durable to reduce long run cost and GM E.coli should produce a stronger signal which can be detected easily. Besides, he has emphasized that the signal intensity of our bacteria should show the level of formaldehyde, since the industry usually compares to the international standards to determine whether the environment is safe. </p>
    <h3><b> Reflections:</b></h3>
    <ul>
        <li> Materials of our device should be durable so that it can be reused to reduce the cost in the long run.</li>
        <li> Instead of just detecting the colour change of GM E.coli, we should provide a quantitative measurement of the signal intensity and use it as a reference to formaldehyde level in air.</li>
    </ul>
    <h3><b> Feedback: </b></h3>
    <ul>
        <li> Replaced the materials of our device from cardboard to fiberboard to make it more durable.</li>
        <li> More experiments are in progress to establish the correlation between formaldehyde concentration and the color intensity of the bacterial culture. </li>
    </ul>
    <img src=" https://static.igem.wiki/teams/4813/wiki/ihp6.jpg" width="600" length="500">
    <img src="https://static.igem.wiki/teams/4813/wiki/ifp-figure3.jpg" width="500">
    <p><i><b> Figure 3. Results of our survey on people who have just renovated their homes (n=42).</b></i></p>
    <p> To understand whether potential customers would accept the use of our GM <i>E. coli </i>device to detect indoor formaldehyde levels, we interviewed 42 citizens who had recently had their homes renovated. 76% of the respondents stated that they are willing to pay for the checking of formaldehyde in their houses, but only 43% are willing to use our products. Among the 24 citizens who voted not to use our products said that their biggest concerns are the high price and it is difficult to use.</p>
    <h3><b> Reflections: </h3>
    <ul>
        <li> Our device should have more automated functions to be user-friendly. </li>
        <li> The cost of our product to the users should be lower.</li>
    </ul>



</div>

{% endblock %}
