{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block page_content %}
<button id="scrollToTopBtn" title="Go to top">&#8593;</button>
<div class="row mt-4">
  <div class="col-lg-8">
    <h1>Notebook</h1>
    <center>
  <iframe src="https://static.igem.wiki/teams/4813/wiki/logbook/notebook-combinded.pdf" width="800" height="600"></iframe>
    </center>
  </div>
</div>
{% endblock %}
