{% extends "layout.html" %}
  
{% block title %}Parts{% endblock %}
{% block page_content %}


<table border="1">
  <thead>
    <tr>
      <th>Part ID</th>
      <th>Type</th>
      <th>Part Name</th>
      <th>Short Description</th>
    </tr>
  </thead>
  <!-- Add your table data rows here -->
  <tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813000">BBa_K4813000</a></td>
  <td>Coding sequence</td>
  <td>dTomato - red fluorescent protein codon optimized for <i>E. coli</i></td>
  <td>The coding sequence mentioned corresponds to the dTomato protein, which is responsible for producing red fluorescence. It functions as a dimer and has an approximate molecular weight of 27.0 kDa. The dTomato protein originates from Discosoma, a specific species. Our team has undertaken codon optimization for this coding sequence, and it has been successfully demonstrated to be functional in our experiments.</td>
</tr>
<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813001">BBa_K4813001</a></td>
  <td>Coding sequence</td>
  <td>tdTomato - red fluorescent protein codon optimized for <i>E. coli</i></td>
  <td>The mentioned coding sequence encodes a protein called tdTomato, which is known to produce red fluorescence. It has been reported to exhibit double the fluorescence intensity compared to dTomato. This protein has been codon optimized by our team, and we have successfully demonstrated its functionality in our experiments.</td>
</tr>


</table>

{% endblock %}
