{% extends "layout.html" %}
  
{% block title %}Parts{% endblock %}
{% block page_content %}

<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #000; 
    padding: 8px;
  }
  tr {
    border: 1px solid #000;
  }
</style>

<table class="table">

  <thead>
    <tr>
      <th>Part ID</th>
      <th>Type</th>
      <th>Part Name</th>
      <th>Short Description</th>
    </tr>
  </thead>

  <tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813000">BBa_K4813000</a></td>
  <td>Coding sequence</td>
  <td>dTomato - red fluorescent protein codon optimized for <i>E. coli</i></td>
  <td>The coding sequence mentioned corresponds to the dTomato protein, which is responsible for producing red fluorescence. It functions as a dimer and has an approximate molecular weight of 27.0 kDa. The dTomato protein originates from Discosoma, a specific species. Our team has undertaken codon optimization for this coding sequence, and it has been successfully demonstrated to be functional in our experiments.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813001">BBa_K4813001</a></td>
  <td>Coding sequence</td>
  <td>tdTomato - red fluorescent protein codon optimized for <i>E. coli</i></td>
  <td>The mentioned coding sequence encodes a protein called tdTomato, which is known to produce red fluorescence. It has been reported to exhibit double the fluorescence intensity compared to dTomato. This protein has been codon optimized by our team, and we have successfully demonstrated its functionality in our experiments.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813009">BBa_K4813009</a></td>
  <td>Coding sequence</td>
  <td>HxlR K13A - mutated HxlR codon with enhanced DNA binding and transcription activation</td>
  <td>The coding sequence mentioned encodes a protein called HxlR, which is a formaldehyde-responsive transcription factor from Bacillus subtilis. According to research, when the 13th amino acid in HxlR protein, Lysine, was replaced by Alanine, mutated HxlR-K13A showed a more optimal conformation for DNA binding activity and a higher transcription activation than the wild-type HxlR protein.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813016">BBa_K4813016</a></td>
  <td>Others</td>
  <td>BRH1 and BRH2 - wild type HxlR protein binding site</td>
  <td>This part encodes the two necessary DNA binding sites (BRH1 & BRH2) for HxlR protein to bind to and subsequently activate the expression of the downstream operon in the presence of formaldehyde.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813017">BBa_K4813017</a></td>
  <td>Regulatory</td>
  <td>Wild type promoter of hxlAB operon</td>
  <td>This part encodes the wild type promoter sequence that is activated by the HxlR protein.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813021">BBa_K4813021</a></td>
  <td>RBS</td>
  <td>RBS for wild-type hxlAB operon transcription</td>
  <td>This RBS sequence is specifically for transcription in the wild-type hxlAB operon.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813018">BBa_K4813018</a></td>
  <td>Coding sequence</td>
  <td>Forwardly transcribed HxlR</td>
  <td>The expression of wild-type HxlR protein is naturally driven by a reverse promoter, and we hardly found any previous research that has explored the possibility of having HxlR forwardly transcribed. In our project, we would like to see if a forwardly transcribed HxlR can still be expressed and retain its function.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813020">BBa_K4813020</a></td>
  <td>Coding sequence</td>
  <td>Forwardly transcribed HxlR K13A - mutated HxlR codon with enhanced DNA binding and transcription activation</td>
  <td>The coding sequence mentioned encodes a protein called HxlR, which is a formaldehyde-responsive transcription factor from Bacillus subtilis. According to research, when the 13th amino acid in HxlR protein, Lysine, was replaced by Alanine, mutated HxlR-K13A protein showed a more optimal conformation for DNA binding activity and a higher transcription activation than the wild-type HxlR protein. In our project, we would like to see if a forwardly transcribed HxlR can still be expressed and retain its function. Therefore, besides having HxlR forwardly transcribed in our constructs, we also design to have HxlR-K13A forwardly transcribed under a forward promoter.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813019">BBa_K4813019</a></td>
  <td>RBS</td>
  <td>Modified RBS for T7 promoter</td>
  <td>The RBS in pET28a(+)-FGF2 is modified to increase gene expression and product yield. We use this modified RBS in our construct to enhance the expression of our gene of interest.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813007">BBa_K4813007</a></td>
  <td>Others</td>
  <td>20-bp 5’ overlapping sequence for pUC19 EcoRI restriction site</td>
  <td>In our project, we used this 5' overlapping sequence for HiFi assembly to clone our constructs into pUC19 vectors. This particular sequence consists of 20 base pairs, which is the recommended length suggested by the HiFi assembly kit manufacturer. By employing this 5' overlapping sequence, along with a 3' overlapping sequence (BBa_K4813008), we successfully assembled our four verified constructs (BBa_K4813002, BBa_K4813005, BBa_KK4813006, and BBa_K4813025) using the HiFi assembly method.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813008">BBa_K4813008</a></td>
  <td>Others</td>
  <td>20-bp 3’ overlapping sequence for pUC19 EcoRI restriction site</td>
  <td>In our project, we used this 3' overlapping sequence for HiFi assembly to clone our constructs into pUC19 vectors. This particular sequence consists of 20 base pairs, which is the recommended length suggested by the HiFi assembly kit manufacturer. By employing this 3' overlapping sequence, along with a 5' overlapping sequence (BBa_K4813007), we successfully assembled our four verified constructs (BBa_K4813002, BBa_K4813005, BBa_KK4813006, and BBa_K4813025) using the HiFi assembly method.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813010">BBa_K4813010</a></td>
  <td>Others</td>
  <td>20-bp 5’ overlapping sequence for pET28a(+)-FGF2 XbaI restriction site</td>
  <td>In our project, we used this 5' overlapping sequence for NEBuilder HiFi assembly to clone our constructs into pET28a(+)-FGF2 vectors. This particular sequence consists of 20 base pairs, which is the recommended length suggested by the NEBuilder HiFi assembly kit manufacturer.</td>
</tr>


<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813011">BBa_K4813011</a></td>
  <td>Others</td>
  <td>20-bp 3’ overlapping sequence for pET28a(+)-FGF2 EcoRI restriction site</td>
  <td>In our project, we used this 3' overlapping sequence for NEBuilder HiFi assembly to clone our constructs into pET28a(+)-FGF2 vectors. This particular sequence consists of 20 base pairs, which is the recommended length suggested by the NEBuilder HiFi assembly kit manufacturer.</td>
</tr>


</table>

{% endblock %}
