{% extends "layout.html" %}
  
{% block title %}Parts{% endblock %}
{% block page_content %}
<button id="scrollToTopBtn" title="Go to top">&#8593;</button>
<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #000; 
    padding: 8px;
  }
  tr {
    border: 1px solid #000;
  }
</style>

<b><h1>Part Lists</b></h1>
 <img class="img-left" src="https://static.igem.wiki/teams/4813/wiki/for-log-book-page.png" style="float: right;" length="700" width="700">
<b><h2>New basic parts</b></h2>
<table class="table">

  <thead>
    <tr>
      <th>Part ID</th>
      <th>Type</th>
      <th>Part Name</th>
      <th>Short Description</th>
    </tr>
  </thead>

  <tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813000">BBa_K4813000</a></td>
  <td>Coding sequence</td>
  <td>dTomato - red fluorescent protein codon optimized for <i>E. coli</i></td>
  <td>The coding sequence mentioned corresponds to the dTomato protein, which is responsible for producing red fluorescence. It functions as a dimer and has an approximate molecular weight of 27.0 kDa. The dTomato protein originates from Discosoma, a specific species. Our team has undertaken codon optimization for this coding sequence, and it has been successfully demonstrated to be functional in our experiments.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813001">BBa_K4813001</a></td>
  <td>Coding sequence</td>
  <td>tdTomato - red fluorescent protein codon optimized for <i>E. coli</i></td>
  <td>The mentioned coding sequence encodes a protein called tdTomato, which is known to produce red fluorescence. It has been reported to exhibit double the fluorescence intensity compared to dTomato. This protein has been codon optimized by our team, and we have successfully demonstrated its functionality in our experiments.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813009">BBa_K4813009</a></td>
  <td>Coding sequence</td>
  <td>HxlR K13A - mutated HxlR codon with enhanced DNA binding and transcription activation</td>
  <td>The coding sequence mentioned encodes a protein called HxlR, which is a formaldehyde-responsive transcription factor from Bacillus subtilis. According to research, when the 13th amino acid in HxlR protein, Lysine, was replaced by Alanine, mutated HxlR-K13A showed a more optimal conformation for DNA binding activity and a higher transcription activation than the wild-type HxlR protein.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813016">BBa_K4813016</a></td>
  <td>Others</td>
  <td>BRH1 and BRH2 - wild type HxlR protein binding site</td>
  <td>This part encodes the two necessary DNA binding sites (BRH1 & BRH2) for HxlR protein to bind to and subsequently activate the expression of the downstream operon in the presence of formaldehyde.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813017">BBa_K4813017</a></td>
  <td>Regulatory</td>
  <td>Wild type promoter of hxlAB operon</td>
  <td>This part encodes the wild type promoter sequence that is activated by the HxlR protein.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813021">BBa_K4813021</a></td>
  <td>RBS</td>
  <td>RBS for wild-type hxlAB operon transcription</td>
  <td>This RBS sequence is specifically for transcription in the wild-type hxlAB operon.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813018">BBa_K4813018</a></td>
  <td>Coding sequence</td>
  <td>Forwardly transcribed HxlR</td>
  <td>The expression of wild-type HxlR protein is naturally driven by a reverse promoter, and we hardly found any previous research that has explored the possibility of having HxlR forwardly transcribed. In our project, we would like to see if a forwardly transcribed HxlR can still be expressed and retain its function.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813020">BBa_K4813020</a></td>
  <td>Coding sequence</td>
  <td>Forwardly transcribed HxlR K13A - mutated HxlR codon with enhanced DNA binding and transcription activation</td>
  <td>The coding sequence mentioned encodes a protein called HxlR, which is a formaldehyde-responsive transcription factor from Bacillus subtilis. According to research, when the 13th amino acid in HxlR protein, Lysine, was replaced by Alanine, mutated HxlR-K13A protein showed a more optimal conformation for DNA binding activity and a higher transcription activation than the wild-type HxlR protein. In our project, we would like to see if a forwardly transcribed HxlR can still be expressed and retain its function. Therefore, besides having HxlR forwardly transcribed in our constructs, we also design to have HxlR-K13A forwardly transcribed under a forward promoter.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813019">BBa_K4813019</a></td>
  <td>RBS</td>
  <td>Modified RBS for T7 promoter</td>
  <td>The RBS in pET28a(+)-FGF2 is modified to increase gene expression and product yield. We use this modified RBS in our construct to enhance the expression of our gene of interest.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813007">BBa_K4813007</a></td>
  <td>Others</td>
  <td>20-bp 5’ overlapping sequence for pUC19 EcoRI restriction site</td>
  <td>In our project, we used this 5' overlapping sequence for HiFi assembly to clone our constructs into pUC19 vectors. This particular sequence consists of 20 base pairs, which is the recommended length suggested by the HiFi assembly kit manufacturer. By employing this 5' overlapping sequence, along with a 3' overlapping sequence (BBa_K4813008), we successfully assembled our four verified constructs (BBa_K4813002, BBa_K4813005, BBa_KK4813006, and BBa_K4813025) using the HiFi assembly method.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813008">BBa_K4813008</a></td>
  <td>Others</td>
  <td>20-bp 3’ overlapping sequence for pUC19 EcoRI restriction site</td>
  <td>In our project, we used this 3' overlapping sequence for HiFi assembly to clone our constructs into pUC19 vectors. This particular sequence consists of 20 base pairs, which is the recommended length suggested by the HiFi assembly kit manufacturer. By employing this 3' overlapping sequence, along with a 5' overlapping sequence (BBa_K4813007), we successfully assembled our four verified constructs (BBa_K4813002, BBa_K4813005, BBa_KK4813006, and BBa_K4813025) using the HiFi assembly method.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813010">BBa_K4813010</a></td>
  <td>Others</td>
  <td>20-bp 5’ overlapping sequence for pET28a(+)-FGF2 XbaI restriction site</td>
  <td>In our project, we used this 5' overlapping sequence for NEBuilder HiFi assembly to clone our constructs into pET28a(+)-FGF2 vectors. This particular sequence consists of 20 base pairs, which is the recommended length suggested by the NEBuilder HiFi assembly kit manufacturer.</td>
</tr>


<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813011">BBa_K4813011</a></td>
  <td>Others</td>
  <td>20-bp 3’ overlapping sequence for pET28a(+)-FGF2 EcoRI restriction site</td>
  <td>In our project, we used this 3' overlapping sequence for NEBuilder HiFi assembly to clone our constructs into pET28a(+)-FGF2 vectors. This particular sequence consists of 20 base pairs, which is the recommended length suggested by the NEBuilder HiFi assembly kit manufacturer.</td>
</tr>


</table>

<b><h2>New composite parts</h2></b>

<table class="table">

  <thead>
    <tr>
      <th>Part ID</th>
      <th>Type</th>
      <th>Part Name</th>
      <th>Short Description</th>
    </tr>
  </thead>

  <tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813002">BBa_K4813002</a></td>
  <td>Device</td>
  <td>pFrmR-dTomato formaldehyde sensing chromoprotein reporter</td>
  <td>This composite component serves the purpose of detecting the presence of formaldehyde by inducing a color change through dTomato expression in the host <i>E. coli</i>. In addition, our team developed a composite component comprising the tdTomato chromoprotein (BBa_K4813004). We designed these two similar constructs to compare the expression levels and color intensity of the dTomato and tdTomato proteins.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813004">BBa_K4813004</a></td>
  <td>Device</td>
  <td>pFrmR-tdTomato formaldehyde sensing chromoprotein reporter</td>
  <td>This composite component serves the purpose of detecting the presence of formaldehyde by inducing a color change through tdTomato expression in the host <i>E. coli</i>. In addition, our team developed a composite component comprising the dTomato chromoprotein (BBa_K4813002). We designed these two similar constructs to compare the expression levels and color intensity of the dTomato and tdTomato proteins.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813005">BBa_K4813005</a></td>
  <td>Reporter</td>
  <td>J23100 - dTomato red chromoprotein strong expression construct</td>
  <td>This part uses a strong constitutive promoter to drive the expression of RFP dTomato (BBa_K4813000). Our team employs this part to evaluate and compare the color intensity of <i>E. coli</i> colonies expressing this part and the other one expressing tdTomato (BBa_K4813001).</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813005">BBa_K4813005</a></td>
  <td>Reporter</td>
  <td>J23100 - dTomato red chromoprotein strong expression construct</td>
  <td>This part uses a strong constitutive promoter to drive the expression of RFP dTomato (BBa_K4813000). Our team employs this part to evaluate and compare the color intensity of <i>E. coli</i> colonies expressing this part and the other one expressing tdTomato (BBa_K4813001).</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813014">BBa_K4813014</a></td>
  <td>Device</td>
  <td>Reverse HxlR-dTomato formaldehyde sensing chromoprotein reporter</td>
  <td>This part employs the HxlR formaldehyde sensing operon to regulate the expression of the dTomato RFP (BBa_K4813000). In this particular construct, we used the native HxlR operon with the intention of comparing the formaldehyde sensing capabilities with other modified HxlR operon constructs.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813025">BBa_K4813025</a></td>
  <td>Device</td>
  <td>Reverse HxlR-K13A-dTomato formaldehyde sensing chromoprotein reporter</td>
  <td>This part employs the HxlR formaldehyde sensing operon with a mutated enhanced binding site of HxlR protein to regulate the expression of the dTomato RFP (BBa_K4813000).</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813022">BBa_K4813022</a></td>
  <td>Device</td>
  <td>Forward HxlR-dTomato formaldehyde sensing chromoprotein reporter</td>
  <td>This part employs the HxlR formaldehyde sensing operon with a forward HxlR expression unit to regulate the expression of the dTomato RFP (BBa_K4813000).</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813024">BBa_K4813024</a></td>
  <td>Device</td>
  <td>Forward HxlR-K13A-dTomato formaldehyde sensing chromoprotein reporter</td>
  <td>This part employs the HxlR formaldehyde sensing operon with a forward HxlR expression unit and a mutated enhanced binding site of HxlR protein to regulate the expression of the dTomato RFP (BBa_K4813000).</td>
</tr>
</table>


<b><h2>Existing parts used in this project</h2></b>

<table class="table">

  <thead>
    <tr>
      <th>Part ID</th>
      <th>Type</th>
      <th>Part Name</th>
      <th>Short Description</th>
    </tr>
  </thead>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K2728001">BBa_K2728001</a></td>
  <td>Promoter</td>
  <td>pFrmR - An Engineered Formaldehyde-Inducible Promoter</td>
  <td>This part encodes an engineered version of the native pFrmR promoter in <i>E. coli</i>, which was created by Team BGIC-Global in 2018. They discovered that this modified promoter exhibits significantly higher expression efficiency compared to the original version. Consequently, the engineered promoter was selected for use as a formaldehyde-sensing promoter in our project, enabling more noticeable expression of the reporter gene.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_J23100">BBa_J23100</a></td>
  <td>Promoter</td>
  <td>Strong constitutive promoter - Anderson constitutive promoter family member</td>
  <td>This is the strongest promoter among the Anderson constitutive promoter family. We employed this promoter to create composite parts that drive the expression of dTomato (BBa_K4813005) and tdTomato red fluorescent proteins (BBa_K4813006).</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_B0034">BBa_B0034</a></td>
  <td>RBS</td>
  <td>Strong ribosome binding site</td>
  <td>We included this strong ribosome binding site in our constructs to produce formaldehyde sensing reporters and positive controls. This binding site drives the expression of dTomato or tdTomato red fluorescent proteins in <i>E. coli</i>.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_B0015">BBa_B0015</a></td>
  <td>Terminator</td>
  <td>Strong double terminator</td>
  <td>This is the most commonly used terminator. We integrated this terminator into our constructs to generate formaldehyde sensing reporters and positive controls. It is to effectively stop the transcription processes in <i>E. coli</i>.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K1334029">BBa_K1334029</a></td>
  <td>Coding sequence</td>
  <td>HxlR protein coding sequence</td>
  <td>This is the coding sequence of wild-type HxlR protein, which belongs to DUF24 protein family, is a formaldehyde-responsive transcription factor found in Bacillus subtilis located upstream of the hxlAB operon. In the presence of formaldehyde, HxlR protein is triggered to activate the expression of the hxlAB operon in <i>E. coli</i> that codes for two special enzymes involved in detoxifying formaldehyde.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K4813026">BBa_K4813026</a></td>
  <td>Regulatory</td>
  <td>Reverse J23100 strong constitutive promoter</td>
  <td>This part encodes the reverse sequence of the J23100 promoter, which is a well-known strong constitutive promoter from the Anderson promoter collection. We incorporate this promoter in our construct along with a native HxlR operon, which is a formaldehyde-inducible operon in <i>E. coli</i>.</td>
</tr>

<tr>
  <td><a href="http://parts.igem.org/Part:BBa_K3332042">BBa_K3332042</a></td>
  <td>Composite</td>
  <td>Formaldehyde_derivative-1 promoter</td>
  <td>This part is the HxlR expression operon created by Team iGEM20_XMU-China. They enhanced the expression of HxlR protein by incorporating a strong J23100 promoter into the operon in <i>E. coli</i>.</td>
</tr>


  </table>

{% endblock %}
