{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}
<button id="scrollToTopBtn" title="Go to top">&#8593;</button>
<div class="page content">
  <pre>
    <u><B><h1>How we do our labs safely</B></u></h1>
      <B>Surface Decontamination:</B> All the worked surfaces in the laboratory should be cleaned with ethanol spray to avoid contamination to our specimens and 
      contamination of harmful chemicals to lab people and the environment.
      <B>Chemical Waste Disposal:</B> All the used equipment (e.g. micropipettes, tips) and bacterial wastes are autoclaved before disposal.
      We have a laboratory technician to direct and coordinate the handling of chemical wastes. 
      <B>Personal Safety and Hygiene:</B> No eating and drinking are allowed in the laboratory area. 
      Safety goggles, chemical-resistant gloves and laboratory coats are worn at all times when handling chemicals, specimens and bacterial wastes. 
      Used gloves are disposed of and hands are washed after all the lab work. 
      <B>Safety information:</B> A “safety corner” is set up in the laboratory for keeping all the safety information and resources. 
      All the wet lab members are informed of laboratory rules, potential hazards and emergency measures.

    <u><B><h1>How we contain our genetically modified organisms (GMO)</B></u></h1>
    <B>Chemical disinfection:</B> Disinfectants (70% ethanol & bleach) are used for inactivating genetically modified organisms in solid and liquid materials and 
    also on contaminated surfaces and equipment. 
    <B>Waste management:</B> All GMO contaminated wastes are autoclaved and properly packaged before discarding.
    
    <u><b><h1>How we plan to contain our GMO if it is really put into use</b></u></h1>
    The bacteria that we use are GM non-pathogenic E. coli which are staged on a semisolid medium inside a plastic housing 
    with some small holes for gas exchanges. 
    The holes are covered with plastic films before use and will be destroyed by consumers with bleach after use.   

  </pre>
  
  
</div>



{% endblock %}
