{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
    <!-- actual thing we write -->

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/law-yat-kei-jacky-wet-lab-wiki.jpg" width="200" length="200">
        <P>Law Yat Kei, Jacky</P>
        <P>WetLab + Wiki</P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/chong-tsz-ting-jason-wet-lab-wiki.jpg" width="200" length="200">
        <P> Chong Tsz Ting, Jason</P>
        <P>WetLab + Wiki</P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/kwan-pak-hang-wet-lab-wiki.jpg" width="200" length="200">
        <P>Kwan Pak Hang,Oscar </P>
        <P>WetLab + Wiki</P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/lam-chung-hin-wet-lab-wiki.jpeg" width="200" length="200">
        <P>Lam Chung Hin, Chris</P>
        <P>WetLab + Wiki</P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/lam-chung-ting-wet-lab-wiki.jpeg" width="200" length="200">
        <P>Lam Chung Ting, Sam</P>
        <P>WetLab + Wiki</P>


        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/kong-chun-ho-wet-lab-jpeg.jpg" width="300" length="300">
        <P>Kong Chun Ho</P>
        <P>WetLab</P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/chui-cheuk-nam.jpg" width="200" length="200">
        <P>Chui Cheuk Nam</P>
        <P>WetLab</P>

         <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/chen-tsz-yin.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/ghafoor-asmah.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/lam-kwan-ting.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/ng-chun-yi.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/chan-ngo-tin.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/chan-yin-tat.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/fung-chun-kit.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/fung-ka-yee.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/guo-ka-ho.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/ho-ka-ying.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/kung-hiu-tung.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lai-chi-wing.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lam-tsz-hin.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lau-chun-hin.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lau-chun-on.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lee-hin-sing.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/wang-yu-hei.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/wong-man-chun.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/wong-sze-wa-joyce.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/yeung-tsz-kei.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/yip-ching-yu.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/yuen-tsz-wun.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/zhou-lam-ho.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/franklin-lau-wet-lab.jpeg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/julie-yan-wet-lab.jpeg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/percy-cheung-wet-lab.jpeg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/tracy-chu-wet-lab.jpeg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/zoey-lam-wet-lab.jpeg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/chan-wylie-chit-team-members.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/cheung-hoi-yan-team-member.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/kong-wing-yee-team-member.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/lo-lai-ki-team-member.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/mak-hoi-ying-team-member.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/tan-yuen-ting-team-member.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/tsang-tsoi-ying-team-member.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/zhang-sum-yin.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="" width="200" length="200">
        <P></P>
        <P></P>

        <img src="" width="200" length="200">
        <P></P>
        <P></P>

        <img src="" width="200" length="200">
        <P></P>
        <P></P>

        <img src="" width="200" length="200">
        <P></P>
        <P></P>

        <img src="" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/paul-lau.jpeg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/fan-kei-chu.jpg" width="200" length="200">
        <P></P>
        <P></P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/wong-kwok-hei-pi.jpg" width="200" length="200">
        <P></P>
        <P></P>

            <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/miss-tsui-shing-yan-ttca-secondary-pi.jpg" width="200" length="200">
        <P>Miss Tsui Shing Yan</P>
        <P> TTCA Secondary PI</P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/mr-constantine-lau.jpg" width="200" length="200">
        <P>Mr Constantine Lau</P>
        <P> TTCA Main PI</P>

        <img src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/miss-wong-yan-yee.jpg" width="200" length="200">
        <P>Miss Wong Yan Yee</P>
        <P>MLKLSS Secondary PI</P>


 
    <!-- actual thing we write --> 
    </ul>
    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal information on this page.</div>
  </div>
  <div class="col-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:CU/Team">2019 CU</a></li>
      <li><a href="https://2019.igem.org/Team:UANL/Team">2019 UANL</a></li>
      <li><a href="https://2019.igem.org/Team:William_and_Mary/Team">2019 William and Mary</a></li>
      <li><a href="https://2020.igem.org/Team:BOKU-Vienna/Team">2020 BOKU Vienna </a></li>
      <li><a href="https://2020.igem.org/Team:CAU_China/Team_Member">2020 CAU China</a></li>
      <li><a href="https://2020.igem.org/Team:Lethbridge/Members">2020 Lethbridge</a></li>
    </ul>
  </div>
</div>

{% endblock %}



