{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col-8">
    
    <ul>
      <div class="row1">
        <div class="column">
        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/law-yat-kei-jacky-wet-lab-wiki.jpg" width="200" length="200", style="object-position:0 103%;">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text">Law Yat Kei, Jacky</P>
       </div>
       </div>
        <div class="column">
      <div class="cell">
                  <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/chong-tsz-ting-jason-wet-lab-wiki.jpg" width="200" length="200">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text"> Chong Tsz Ting, Jason</P>
       </div>
       </div>
        <div class="column">
           <div class="cell">
             <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/kwan-pak-hang-wet-lab-wiki.jpg" width="200" length="200">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text">Kwan Pak Hang,Oscar </P>
       </div>
       </div>
       </div>

      <div class="row1">
        <div class="column">
    <div class="cell">
             <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/lam-chung-hin-wet-lab-wiki.jpeg" style="object-position:0 -5%;">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text">Lam Chung Hin, Chris</P>
       </div>
        </div>
        <div class="column">
     <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/lam-chung-ting-wet-lab-wiki.jpeg" width="200" length="200">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text">Lam Chung Ting, Sam</P>
       </div>
       </div>
        <div class="column">
        <div class="cell">
          <h3>Brady.jpg</h3> 
          <div class="overlay">
            <P>WetLab + Wiki</P>           
          </div>
          <P class="text">Io Lap Tai</P>
        </div>
        </div>
        </div>





        <div class="row1">
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/ling-tsz-hei-wet-lab.jpg" width="200" length="200">
          <div class="overlay">
            <P>WetLab</P>           
          </div>
          <P class="text">Ling Tsz Hei</P>
        </div>
        </div>







        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/irma-lai-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
            <P>WetLab</P>           
          </div>
          <P class="text">Irma Lai</P>
        </div>
        </div>
       <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/katie-wet-lab-1.jpeg" width="200" length="200">
          <div class="overlay">
            <P>WetLab</P>           
          </div>
          <P class="text">Katie</P>
        </div>
        </div>
        </div>
        




        <div class="row1">
        <div class="column">
         <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/chui-cheuk-nam.jpg" width="200" length="200">
          <div class="overlay">
            <P>WetLab</P>           
          </div>
          <P class="text">Chui Cheuk Nam</P>
        </div>
        </div>

        
          <div class="column">
           <div class="cell">
             <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/kong-chun-ho-wet-lab2.jpg" width="200" length="200">
            <div class="overlay">
              <P>WetLab</P>           
            </div>
            <P class="text">Kong Chun Ho</P>
          </div>
          </div>
  
        <div class="column">
         <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/chen-tsz-yin.jpg" width="200" length="200">
          <div class="overlay">
             <P>Human Practice</P>
             <p>+</p>
             <p>Education</P>              
          </div>
          <P class="text">Chen Tsz Yin</P>
        </div>
        </div>
        </div>

        <div class="row1">
         <div class="column">
         <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/ng-chun-yi.jpg" width="200" length="200">
          <div class="overlay">
             <P>Human Practice</P>
             <p>+</p>
             <p>Education</P>              
          </div>
          <P class="text">Ng Chun Yi</P>
        </div>
        </div>
        
        <div class="column">
        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/ghafoor-asmah.jpg" width="200" length="200">
          <div class="overlay">
             <P>Human Practice</P>
             <p>+</p>
             <p>Education</P>              
          </div>
          <P class="text">Ghafoor Asmah</P>
        </div>
        </div>

        <div class="column">
          <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/lam-kwan-ting.jpg" width="200" length="200">
          <div class="overlay">
             <P>Human Practice</P>
             <p>+</p>
             <p>Education</P>              
          </div>
          <P class="text">Lam Kwan Ting</P>
        </div>
        </div>
        </div>

        <div class="row1">
        <div class="column">
        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/zhou-lam-ho.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Zhou Lam Ho</P>
        </div> 
        </div>
        
        
        <div class="column">
       <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/chan-ngo-tin.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Chan Ngo Tin</P>
        </div>
        </div>
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/chan-yin-tat.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Chan Yin Tat</P>
        </div>
        </div>
        </div>

        <div class="row1">
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/fung-chun-kit.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Fung Chun Kit</P>
        </div>
        </div>
        
             
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/fung-ka-yee.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Fung Ka Yee</P>
        </div>
        </div>
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/guo-ka-ho.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Guo Ka Ho</P>
        </div>
        </div>
        </div>

        <div class="row1">
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/ho-ka-ying.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Ho Ka Ying</P>
        </div>
        </div>
        
      
        <div class="column">        
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/kung-hiu-tung.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Kung Hiu Tung</P>
        </div>
        </div>

        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lai-chi-wing.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lai Chi Wing</P>
        </div>
        </div>
        </div>

      <div class="row1">
        <div class="column">        
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lam-tsz-hin.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lam Tsz Hin</P>
        </div>
        </div>
        
        
        <div class="column">          
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lau-chun-hin.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lau Chun On</P>
        </div>
        </div>

        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lau-chun-on.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lau Chun On</P>
        </div>
        </div>
      </div>

        <div class="row1">
        <div class="column">        
        <div class="cell">
          <img class="cell__image"  src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lee-hin-sing.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lee Hin Sing</P>
        </div>
        </div>
        
        
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/wang-yu-hei.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Wang Yu Hei</P>
        </div>
        </div>

        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/wong-man-chun.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Wong Man Chu</P>
        </div>
        </div>
        </div>

        <div class="row1">
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/wong-sze-wa-joyce.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Wong Sze Wa Joyce</P>
        </div>
        </div>
        
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/yeung-tsz-kei.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Yeung Tsz Kei</P>
        </div>
        </div>

        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/yip-ching-yu.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Yip Ching Yu</P>
        </div>
        </div>
        </div>

        <div class="row1">
        <div class="column">
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/yuen-tsz-wun.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Yuen Tsz Wun</P>
        </div>
      </div>

        <div class="column">
        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/franklin-lau-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Franklin Lau</P>
        </div>
        </div>

        <div class="column">
        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/julie-yan-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Julie Yan</P>
        </div>
        </div>
        </div>

        <div class="row1">
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/zoey-lam-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Zoey Lam</P>
        </div>
        </div>
      

        <div class="column">
        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/percy-cheung-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Percy Cheung</P>
        </div>
        </div>
        
        <div class="column">        
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/tracy-chu-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Tracy Chu</P>
        </div>
        </div>
        </div>
        
        <div class="row1">
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/zhang-sum-yin.jpg" width="200" length="200">
          <div class="overlay">
             <P>Human Practice</P>
             <P>+<P>
             <P>Survey</P>          
          </div>
          <P>Zhang Sum Yin</P>
        </div>
        </div>
        
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/chan-wylie-chit-team-members.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Human Practice</P>
             <P>+<P>
             <P>Survey</P>      
          </div>
          <P>Chan Wylie Chit</P>
        </div>
        </div>
        
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/cheung-hoi-yan-team-member.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Human Practice</P>
             <P>+<P>
             <P>Survey</P>          
          </div>
          <P>Cheung Hoi Yan</P>
        </div>
        </div>
        </div>

        <div class="row1">
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/kong-wing-yee-team-member.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Human Practice</P>
             <P>+<P>
             <P>Survey</P>          
          </div>
          <P>Kong Wing Yee</P>
        </div>
        </div>
        
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/lo-lai-ki-team-member.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Human Practice</P>
             <P>+<P>
             <P>Survey</P>          
          </div>
          <P>Lo Lai Ki</P>
        </div>
        </div>

        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/mak-hoi-ying-team-member.jpg" width="200" length="150" style="object-position:0 20%;">
          <div class="overlay">
             <P>Human Practice</P>
             <P>+<P>
             <P>Survey</P>          
          </div>
          <P>Mak Hoi Ying</P>
        </div>
        </div>
        </div>

        <div class="row1">
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/tan-yuen-ting-team-member.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Human Practice</P>
             <P>+<P>
             <P>Survey</P>          
          </div>
          <P>Tan Yuen Ting</P>
        </div>
        </div>

        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/tsang-tsoi-ying-team-member.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Human Practice</P>
             <P>+<P>
             <P>Survey</P>          
          </div>
          <P>Tsang Tsoi Ying</P>
        </div>
        </div>

          <div class="column">
          <div class="cell">
              <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/yeung-hoi-ship-team-member.jpg" width="200" length="200" style="object-position:0 -30px;">
            <div class="overlay">
               <P>Human Practice</P>
               <P>+<P>
               <P>Survey</P>          
            </div>
            <P>Yeung Hoi Ship</P>
          </div>
          </div>
          </div>

          <div class="row1">
            <div class="column">
            <div class="cell">
                <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/lam-tsz-yuen-team-member.jpeg" width="200" length="200" style="object-position:0 0;">
              <div class="overlay">
                 <P>Human Practice</P>
                 <P>+<P>
                 <P>Survey</P>          
              </div>
              <P>Lam Tsz Yuen</P>
          </div>
          </div>
          
          <div class="column">
          <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/paul-lau.jpeg" width="200" length="200">
          <div class="overlay">
             <P>Primary PI </P>    
          </div>
          <P>Mr Paul Lau</P>
        </div>
        </div>
       

        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/fan-kei-chu.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Primary PI </P>    
          </div>
          <P>Mr. Fan Kei Chu</P>
        </div>
        </div>
        </div>
        
        <div class="row1">
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/miss-wong-yan-yee.jpg" width="200" length="200">
          <div class="overlay">
             <P>Secondary PI</P>  
          </div>
          <P>Miss Wong Yan Yee</P>
        </div>
        </div>
    
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/wong-kwok-hei-pi.jpg" width="200" length="200">
          <div class="overlay">
             <P>Secondary PI</P>  
          </div>
          <P>Mr. Wong Kwok Hei</P>
        </div>
        </div>
        
        <div class="column">
        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/miss-tsui-shing-yan-ttca-secondary-pi.jpg" width="200" length="150">
          <div class="overlay">
             <P>Secondary PI</P>  
          </div>
          <P>Miss Tsui Shing Yan</P>
        </div>
        </div>
        </div>
        
        <div class="row1">
        <div class="column">
           <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/mr-constantine-lau.jpg" width="200" length="200">
          <div class="overlay">
             <P>Secondary PI</P>  
          </div>
          <P>Mr Constantine Lau</P>
        </div>
        </div>
        </div>
        
       
       
                <div class="column">
                  <div class="filler"></div>
                </div>
        </div>
        
    <!-- pipeline testing 12---> 
<p>
  <h1>Our schools</h1> <hr>
  <h2>Po Leung Kuk Celine Ho Yam Tong College</h2> <br>
  Established in 2001, it was the thirteenth secondary school to open in Po Leung Kuk. We adhere to the mission and vision of Po Leung Kuk, and attach great importance to students’ balanced learning including moral, intellectual, physical, communal and aesthetic education, and nurture students to develop nobleness and a correct outlook of life. The mission is to enhance students’ interest in learning and unearth their potential by means of inspiration. Our school’s motto is love, respect, diligence and integrity; it is hoped that students can learn to respect and strive for excellence. <hr>
  <h2>Pentecostal School</h2><br>
  Pentecostal School was established in 1973 by Kowloon Pentecostal Church Ltd. Pentecostal school emphasizes to enhance career planning and multiple pathways and nurture students' self-directed abilities. The school implemented 'Career and Life Planning', different life planning activities both outside and inside classes are organized to enable students to gain a better understanding of the students thems<hr>
  <h2>Yan Oi Tong Tin Ka Ping Secondary School</h2><br>
  Dr. Tin Ka Ping founded the school in 1987. The School Motto is lucidly set out, and manifests consistently in the School's policies and ethos. One Sport One Art for One Student" Program encourages students to broaden their horizons by pursuing their interests in non-academic areas. The School environment is caring and supportive, fostering a close relationship among teachers and students.<hr>
  <h2>Madam Lau Kam Lung Secondary School of MFBM</h2><br>
  Madam Lau Kam Lung Secondary School of MFBM is the only aided Girls’ School using English as the Medium of Instruction in the western New Territories. It was founded with the help of the Miu Fat Buddhist Monastery and the generous donation of Madam Lau Kam Lung in 1973. The school has been nurturing women of excellence for generations after generations regardless of their backgrounds and origins by minimizing gender-weighted expectations and providing an inspirational environment for academic excellence. The students are guided to put the eight qualities into practice. They are confident, considerate, diligent, helpful, mannerly, perseverance, self-disciplined and responsible.

Based on Buddha's teaching of relief through mercy and compassion, the mission of the school is to implement educational programmes based on Buddhist principles. Thus, the school aims to cultivate the all-round development of students so that they can develop a positive attitude towards life and become active, responsible and contributing members of society.<hr>
  <h2>Tsung Tsin Christian Academy</h2>
</p>

  


 
    <!-- actual thing we write --> 
    </ul>
    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal information on this page.</div>
  </div>

{% endblock %}
