{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col-8">
    
    <ul>
    <!-- actual thing we write -->

        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/law-yat-kei-jacky-wet-lab-wiki.jpg" width="200" length="200", style="object-position:0 103%;">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text">Law Yat Kei, Jacky</P>
       </div>

      <div class="cell">
                  <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/chong-tsz-ting-jason-wet-lab-wiki.jpg" width="200" length="200">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text"> Chong Tsz Ting, Jason</P>
       </div>
       
           <div class="cell">
             <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/kwan-pak-hang-wet-lab-wiki.jpg" width="200" length="200">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text">Kwan Pak Hang,Oscar </P>
       </div>

    <div class="cell">
             <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/lam-chung-hin-wet-lab-wiki.jpeg" style="object-position:0 -5%;">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text">Lam Chung Hin, Chris</P>
       </div>

     <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/lam-chung-ting-wet-lab-wiki.jpeg" width="200" length="200">
          <div class="overlay">
            <P>WetLab + Wiki</P>            
          </div>
          <P class="text">Lam Chung Ting, Sam</P>
       </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/kong-chun-ho-wet-lab2.jpg" width="200" length="200"> 
          <div class="overlay">
            <P>WetLab</P>           
          </div>
          <P class="text">Kong Chun Ho</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/ling-tsz-hei-wet-lab.jpg" width="200" length="200">
          <div class="overlay">
            <P>WetLab</P>           
          </div>
          <P class="text">Ling Tsz Hei</P>
        </div>

         <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/chui-cheuk-nam.jpg" width="200" length="200">
          <div class="overlay">
            <P>WetLab</P>           
          </div>
          <P class="text">Chui Cheuk Nam</P>
        </div>


         <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/chen-tsz-yin.jpg" width="200" length="200">
          <div class="overlay">
             <P>Human Practice</P>
             <p>+</p>
             <p>Education</P>              
          </div>
          <P class="text">Chen Tsz Yin</P>
        </div>

        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/ghafoor-asmah.jpg" width="200" length="200">
          <div class="overlay">
             <P>Human Practice</P>
             <p>+</p>
             <p>Education</P>              
          </div>
          <P class="text">Ghafoor Asmah</P>
        </div>

          <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/lam-kwan-ting.jpg" width="200" length="200">
          <div class="overlay">
             <P>Human Practice</P>
             <p>+</p>
             <p>Education</P>              
          </div>
          <P class="text">Lam Kwan Ting</P>
        </div>

         <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/ng-chun-yi.jpg" width="200" length="200">
          <div class="overlay">
             <P>Human Practice</P>
             <p>+</p>
             <p>Education</P>              
          </div>
          <P class="text">Ng Chun Yi</P>
        </div>

       <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/chan-ngo-tin.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Chan Ngo Tin</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/chan-yin-tat.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Chan Yin Tat</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/fung-chun-kit.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Fung Chun Kit</P>
        </div>
        
        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/fung-ka-yee.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Fung Ka Yee</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/guo-ka-ho.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Guo Ka Ho</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/ho-ka-ying.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Ho Ka Yin</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/kung-hiu-tung.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Kung Hiu Tung</P>
        </div>


        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lai-chi-wing.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lai Chi Wing</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lam-tsz-hin.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lam Tsz Hin</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lau-chun-hin.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lau Chun On</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lau-chun-on.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lau Chun On</P>
        </div>

        <div class="cell">
          <img class="cell__image"  src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/lee-hin-sing.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Lee Hin Sing</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/wang-yu-hei.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Wang Yu Hei</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/wong-man-chun.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Wong Man Chu</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/wong-sze-wa-joyce.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Wong Sze Wa Joyce</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/yeung-tsz-kei.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Yeung Tsz Kei</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/yip-ching-yu.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Yip Ching Yu</P>
        </div>

        <div class="cell">
          <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/yuen-tsz-wun.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Yuen Tsz Wun</P>
        </div>

        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/zhou-lam-ho.jpg" width="200" length="200" style="object-position:0 0;">
          <div class="overlay">
             <P>Hardware</p>
             <p>+</p>
             <p>Human Practice</P>       
          </div>
          <P class="text">Zhou Lam Ho</P>
        </div> 
        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/franklin-lau-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Franklin Lau</P>
        </div>

        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/julie-yan-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Julie Yan</P>
        </div>

        <div class="cell">
           <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/percy-cheung-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Percy Cheung</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/tracy-chu-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Tracy Chu</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/zoey-lam-wet-lab.jpeg" width="200" length="200">
          <div class="overlay">
             <P>WetLab</P>       
          </div>
          <P>Zoey Lam</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/chan-wylie-chit-team-members.jpg" width="200" length="200" stlye="object-position: 0 0;">
          <div class="overlay">
             <P></P>      
          </div>
          <P>Chan Wylie Chit</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/cheung-hoi-yan-team-member.jpg" width="200" length="200" stlye="object-position: 0 0;">
          <div class="overlay">
             <P></P>      
          </div>
          <P>Cheung Hoi Yan</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/kong-wing-yee-team-member.jpg" width="200" length="200">
          <div class="overlay" stlye="object-position: 0 0;">
             <P></P>      
          </div>
          <P>Kwong Kowk Hei</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/lo-lai-ki-team-member.jpg" width="200" length="200" stlye="object-position: 0 0;">
          <div class="overlay">
             <P></P>      
          </div>
          <P>Lo Lai Ki</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/mak-hoi-ying-team-member.jpg" width="200" length="150" stlye="object-position: 0 0;">
          <div class="overlay">
             <P></P>      
          </div>
          <P>Mak Hoi Ying</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/tan-yuen-ting-team-member.jpg" width="200" length="200" stlye="object-position: 0 0;">
          <div class="overlay">
             <P></P>      
          </div>
          <P>Tan Yuen Ting</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/tsang-tsoi-ying-team-member.jpg" width="200" length="200" stlye="object-position: 0 0;">
          <div class="overlay">
             <P></P>      
          </div>
          <P>Tsang Tsoi Ying</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/zhang-sum-yin.jpg" width="200" length="200">
          <div class="overlay">
             <P></P>      
          </div>
          <P>Zhang Sum Yin</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/yottkp/individual-photos/paul-lau.jpeg" width="200" length="200">
          <div class="overlay">
             <P>Primary PI </P>    
          </div>
          <P>Mr Paul Lau</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/plkchc/fan-kei-chu.jpg" width="200" length="200" stlye="object-position: 0 0;">
          <div class="overlay">
             <P>Primary PI </P>    
          </div>
          <P>Mr. Fan Kei Chu</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ps/wong-kwok-hei-pi.jpg" width="200" length="200">
          <div class="overlay">
             <P>Secondary PI</P>  
          </div>
          <P>Mr. Wong Kwok Hei</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/miss-tsui-shing-yan-ttca-secondary-pi.jpg" width="200" length="150">
          <div class="overlay">
             <P>Secondary PI</P>  
          </div>
          <P>Miss Tsui Shing Yan</P>
        </div>

           <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/ttca/mr-constantine-lau.jpg" width="200" length="200">
          <div class="overlay">
             <P>Secondary PI</P>  
          </div>
          <P>Mr Constantine Lau</P>
        </div>

        <div class="cell">
            <img class="cell__image" src="https://static.igem.wiki/teams/4813/wiki/individual-photos/mlklss/miss-wong-yan-yee.jpg" width="200" length="200">
          <div class="overlay">
             <P>Secondary PI</P>  
          </div>
          <P>Miss Wong Yan Yee</P>
        </div>

        


 
    <!-- actual thing we write --> 
    </ul>
    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal information on this page.</div>
  </div>

{% endblock %}



